[2020-03-09 13:52] IlCallo opened #1 "Hello there!"
Just had some time to check the code.
I'll add some issues on the repo to document what I think should be done to make the extension more mature and usable, then after discussing it a bit I'll try to send some PRs, both here and to Quasar repo, if needed

[2020-03-09 14:05] IlCallo opened #2 "Allow dev mode"
I can understand why you enabled it only in production mode, but production build usually execute a lot of time-consuming optimization to the code, which slows down the compilation.
Production build also run a single time, but during development it will be useful to have the code in watch mode while fixing SSG-related bugs.

I think the idea should be to make this AE similar to a Quasar mode (whic

[2020-03-09 14:15] IlCallo opened #3 "Move extension configuration to a `ssg` property on `quasar.config.js`"
Configuration of this AE should probably be moved to a `ssg` property into `quasar.config.js` instead of relaying on `ssr` configuration.
Defaults could still be taken automatically by SSR configuration, the idea is only to allow people to override those without affecting SSR builds too.

In this way it would be easier for devs to generate different apps for `ssg` and `ssr`, instead of having to c

[2020-03-09 14:19] IlCallo opened #4 "Create custom SSG commands"
Instead of piggybacking on SSR build step, we should create some standalone commands.
Currently it's not possible to enhance existing commands AFAIK (so no `quasar [dev/build] -ssg`), but we can go with something which look similar and change it later if it becomes possible.

I was thinking about `quasar dev-ssg`  and `quasar build-ssg`

[2020-03-09 14:24] IlCallo opened #5 "Output build into `/build/ssg`"
For the same reason behind #3, the output should be put into an ad-hoc folder for SSG.
It could be an idea to also allow specifying the output folder, but I don't actually have an use case in mind for this, once the build folder is already separated from other modes.

[2020-03-09 14:59] IlCallo opened #6 "Add minimal README"
There are some things which aren't really clear to me, for which even just a link to an online article could be useful. I'll put them all here, in random order, then let's see what should be written on a README and what could be put into comments on the code.

- with `prerender-spa` solution, there wasn't a css optimization step (at least, I didn't need to configure it in any way, if it was there)

[2020-03-09 15:00] IlCallo opened #7 "Rename folder to `src-ssg`"
To be consistent with all other acronym-like modes, should be good to change the folder name to `src-ssg` instead of `src-static`

[2020-03-09 15:02] IlCallo opened #8 "Implement uninstall"
I guess it's just a matter of removing `src-static` and `src/boot/bodyClasses.js` files, given that the webpack chain changes are all into `index.js`

[2020-03-09 15:14] IlCallo opened #9 "Rename extension name to `quasar-app-extension-ssg`"
Same reason behind #7, `static` is a very generic word too.
`quasar ext add static` is a bit generic, `quasar ext add ssg` is already clearer

The AE name is expecially important because once a package is added to NPM I think it's impossible to remove it, you can just deprecate it, and littering the registry with duplicates would cause confusion in the ecosystem

[2020-03-09 17:57] freddy38510 commented on #6
Thanks for all your feedbacks @IlCallo

The extension was initially written for my specific needs. Some of them was to inline my critical CSS and lazy-load the rest. For that i forked [Critters](https://github.com/GoogleChromeLabs/critters) to have the ability to do all these steps at build time instead of doing it with a webpack plugin like Critters does.
You could see all the strategies [here](h

[2020-03-09 18:51] #9 closed

[2020-03-09 18:52] freddy38510 commented on #9
Fixed in https://github.com/freddy38510/quasar-app-extension-ssg/commit/f6f9bea6303d87d12b0f792fb1fc05ba8a92d9a1

[2020-03-09 18:52] freddy38510 commented on #7
Fixed in https://github.com/freddy38510/quasar-app-extension-ssg/commit/f6f9bea6303d87d12b0f792fb1fc05ba8a92d9a1

[2020-03-09 18:52] #7 closed

[2020-03-09 18:52] #1 closed

[2020-03-09 19:21] #8 closed

[2020-03-09 19:21] freddy38510 commented on #8
Fixed in https://github.com/freddy38510/quasar-app-extension-ssg/commit/9a33871530d7045ccdfc1807cc46605027b788ba

[2020-03-19 18:18] IlCallo commented on #6
I'll get back to testing the AE as soon as possible, right now the coronavirus throw everything upside down here in Italy and I don't have much time to check this out further :sweat_smile:

[2020-04-09 12:19] cabassi commented on #6
@freddy38510 @IlCallo

I've got a question about that:
Let's say we're building a website using vue and quasar that loads its content using an headless cms; can't we pre render all the pages instead of going to SPA mode after the first page has been loaded?
Should't this approach improve navigation speed since all the pages are prerendered?

I'm going to use this in a few projects at my company so

[2020-05-09 17:26] JeffSpies commented on #4
I think this is a good plan until we can add build modes.

[2020-05-10 15:52] #6 closed

[2020-05-10 16:57] freddy38510 commented on #4
Added in https://github.com/freddy38510/quasar-app-extension-ssg/commit/0cbd59791801013d1544f381a97d70be22da283f

[2020-05-10 16:57] #4 closed

[2020-05-11 07:56] IlCallo commented on #6
@cabassi SPA allow you to load only the changing data (and if you use routing with dynamic imports, only the right bundle is loaded at any time), fully reloading the page will need html and css processing every time, that cannot be faster.

SSG minimise the page first load time, then you get SPA and all goodies which comes with it

Anyway, you can just avoid using Vue router, use plain links betwe

[2020-05-11 10:08] freddy38510 commented on #6
There is one caveat if you're fetching data from an external API. The data in your prerendered pages can be older than the data fetched by the client.

Solutions:
1. You can prefetch and store the data in a json file for each page at build time, then fetch these files at client side or import them to your bundle. For better performance you can also use code splitting and dynamic import of your jso

[2020-05-13 09:16] cabassi commented on #6
Thanks @IlCallo and @freddy38510 for the helpful suggestions :)
I‘ll try the solutions you suggested

[2020-07-03 17:37] codenamezjames opened #12 "Not compatible with @quasar/app v2.0.1"
App · ⚠️  Extension(ssg): is not compatible with @quasar/app v2.0.1. Required version: ^1.5.2

I get this error whenever I run `quasar ext invoke ssg`

[code]

[2020-07-15 08:58] freddy38510 commented on #12
I didn't test the AE with @quasar/app above 1.5.2 version and @quasar above 1.8.3 version.

If you want to try with latest version of quasar, i just created a new branch [without semver restrictions](https://github.com/freddy38510/quasar-app-extension-ssg/commit/95bd492e17a7e9a0dbc116ab1b71b554fbac5b4d).

Just add the app extension dependency like this `yarn add --dev https://github.com/freddy3851

[2020-07-15 14:54] jcdb95 commented on #12
Hey, i am using v2.0.5 of quasar and it worked by running `npm install https://github.com/freddy38510/quasar-app-extension-ssg#develop`

[2020-07-16 00:11] freddy38510 commented on #12
Fixed in 2e2f693222ee3a597892d264d3911e5ebbb05bd7. You should now use the master branch.
Thanks for your feedbacks both of you @jcdb95, @codenamezjames.

[2020-07-16 00:11] #12 closed

[2020-07-24 12:00] vandelpavel opened #13 "Console problem - Extension(ssg)"
Hi, i'v tryed to use this app extension and when i launch the "quasar ssg build" this will show up:
```⚠️  TypeError: Cannot assign to read only property 'exports' of object '#<Object>'```

I don't know where to find the error inside the project.
Thanks.

[2020-07-24 12:27] freddy38510 commented on #13
I suspect this error is coming from webpack because you are trying to use CommonJS while you need to use ES modules.

Could you give me the full output after running "quasar ssg build" ?

The content of your quasar.config.js file could be useful too.

[2020-07-24 12:34] vandelpavel commented on #13
Here is the output:
[code]

[2020-07-24 13:33] vandelpavel commented on #13
The "bodyClasses.js" file what actually is used for? I can't find anything inside the read me or in comments

[2020-07-24 13:51] vandelpavel commented on #13
I think that the problem is relative to typescript support.
I'c created a new quasar project based on typescript. Following the guide on the read me i'v encountered different errors relative to ts linter trying to parse js files so i'v added ```"exclude": [
    "/dist",
    ".quasar",
    "node_modules",
    "src-ssr",
    "**/bodyClasses.js"
  ]```
Then this error occur:
[code]

[2020-07-24 14:38] vandelpavel commented on #13
I think i'v resolved it by just let typescript ignore those files right-clicking on the lines with the error and apply quick fixs.

[2020-08-14 10:27] #13 closed

[2020-08-14 10:51] vandelpavel opened #15 "Routes mechanism not clear"
I edited my `src/router/routes.js`  and added the catch for 404 errors.
I also edited the `src-ssg/routes.js` and added my routes like so:

[code]

once i launch the `quasar serve dist/ssr/www/` command andd in the browser i search `localhost:xxxx` the console return:

`404 on /`

And also if i try to change the route it will return the same error but with the coresponding route
.

[2020-08-14 11:20] vandelpavel commented on #15
I forgot to run the build. Ops

[2020-08-14 11:20] #15 closed

[2020-08-14 15:57] vandelpavel opened #16 "Not working with other app extension"
I created a project where i used an app extension called `@dreamonkey/animate` that you can find here  `https://github.com/dreamonkey/quasar-app-extension-animate.git`.
Later when applying SSG AE this error will show up:
[code]

I think the problem is relative to webpack that can't transpile the dependency of the other app extension.

### repro
https://github.com/vandelpavel/app-esxtension-test.gi

[2020-08-14 16:05] hawkeye64 commented on #16
@vandelpavel What happens if you do this:
[code]

[2020-08-14 16:13] vandelpavel commented on #16
With `quasar build -m ssr` it works.
I also tried `quasar build -m ssr --static` wich is the one in the read-me and it's no long working.

[2020-08-14 22:37] freddy38510 commented on #16
@vandelpavel, @hawkeye64

I tried to run `quasar build -m ssr` and the build complete fine.

But if you start the standalone webserver with `node index.js` inside the previously generated folder `dist/ssr` you've got the same error than with `quasar ssg build`.

So i added the dependency for transpiling with babel, then there is no more error and the animations works great.
[code]

[2020-08-14 23:06] freddy38510 commented on #13
This file is used only at client side to put some classes like `mobile` or `desktop` that could not be determined at build time.

Quasar uses the User-Agent header sent by the client request in SSR mode at server side, to put the right classes in body tag.

With static generation, when the pages are prerendered at build time (in SSR mode too), we could not know on which platform (mobile or desktop

[2020-08-17 11:31] vandelpavel commented on #16
Ok cool now it works thanks!
But before closing the issue i would like to ask another quesion. That was just a reoro case so when i added the line on the original project the console throws 'Extension(ssg) · ⚠️  ReferenceError: window is not defined'
I think thaqt the problem may be the same that on server/side window can not be used.. But i cant find where is used.
I'm inesperienced so any help o

[2020-08-17 11:41] freddy38510 commented on #16
@vandelpavel could you give us more details ?

What is a "reoro case" ?

Which line are you talking about ?

You are right about `window` it's a browser-only global that you cannot access from server-side.

The stack trace of the error could help a lot.

[2020-08-17 12:51] vandelpavel commented on #16
Sorry i ment "repro case", the github repository to reproduce the error.
The line that you supplied:
```transpileDependencies: [/@dreamonkey[\\/]quasar-app-extension-animate/]```
The problem is that it doesn't really give an actual stack trace.... Here is the log:
[code]

[2020-08-17 14:47] freddy38510 commented on #16
I can't reproduce it with the repository you gave.

Try to run `quasar build -m ssr --static --debug`

[2020-08-17 15:28] vandelpavel commented on #16
I was trying to modify the previeus repro but unfortunally when creating other pages it keeps saying "404 on /<path>" when changing the path.
It works just if the path doesn't have a layout like so:
[code]
...
path: '/',
    component: () => import('layouts/frame.vue'),
    children: [
      { path: '', component: () => import('pages/home.vue') },
...
[code]

[2020-08-17 16:16] vandelpavel commented on #16
I just realized that on the repo works but not on the project. I don't know why.... I just deleted node modules, quasar folder

[2020-08-17 16:19] freddy38510 commented on #16
I think that you missed an uppercase.

`layouts/frame.vue` doesn't exist.
Does `layouts/Frame.vue` exists ?

If you can't find where the global `window` is used in your project files, maybe it is coming from some dependencies you are importing. Try to import them only at client side.

With Quasar you can use `process.env.SERVER` or `process.env.CLIENT` in your Vue components.

If you are using boo

[2020-08-17 16:28] vandelpavel commented on #16
No uppercase error, they are reported on log fortunally.
Actually now the problem as i said "I was trying to modify the previeus repro but unfortunally when creating other pages it keeps saying "404 on /" when changing the path." (probably i wasn't clear sorry) the problem is the routing.

[2020-08-17 16:28] vandelpavel commented on #16
I'll close this issue and open another one.

[2020-08-17 16:28] #16 closed

[2020-08-17 16:39] vandelpavel opened #17 "Error '404 on /' routing"
Inside a project i have different pages and a layout defined as in `routes.js`:

[code]

So i modified the `quasar.conf.js`  with `vueRouterMode: 'history'`.

Then i added the routes in `src-ssg.routes.js`:

[code]

Then i launch  `quasar ssg build` and then `quasar serve dist/ssr/www/`.

No error yet but when reaching `localhost:4000` the console's output is:
`GET / [127.0.0.1] Mon Aug 17 2020 18

[2020-08-17 17:41] freddy38510 commented on #17
I can't reproduce it.

I tried with your repository https://github.com/vandelpavel/app-esxtension-test.git

I made all the modifications you did, the two routes are generated well. I've got no 404 on them.

[2020-08-18 09:50] vandelpavel commented on #17
Actually yes, on the repository i made it works just fine. The problem is when i try to do it in my actual project. I can't see where the problem could be...
The only thing i discovered it's that after building the ssg if i use `quasar serve dist/ssr/www/` it doesn't even show the home page and keeps saying `404 on /` but if i use `npx http-server dist/ssr/www/` it works and i can't see why...
Her

[2020-08-18 13:45] freddy38510 commented on #17
Can you show the content of your distDir please ?

I think the "index.html" files of your prerendered routes are not generated into your custom distDir `dist/spa/public`.

Shoudn't the command be `quasar serve dist/spa/public` instead of `quasar serve dist/ssr/www/` ?

[2020-08-18 13:57] vandelpavel commented on #17
Exactly they are not generated.
![image](https://user-images.githubusercontent.com/61196133/90521802-3ed33200-e16b-11ea-9515-109cacab0948.png)
I'v made same procedures as in the test dozen of times, tried to find where i was wrong but nothing yet...
Actually also `quasar serve dist/spa/public` doesn't work

[2020-08-18 14:01] freddy38510 commented on #17
From your `quasar-conf.js` file you set `distDir` to `dist/spa/public`.

Please, run `quasar clean` then `quasar ssg build`.

After that, paste the output of the last command and show the content of `dist/spa/public`.

[2020-08-18 14:22] vandelpavel commented on #17
I've already set `distDir` to `dist/spa/public` in my quasar conf.

Here is the output after `quasar ssg build`:
[code]

And here is the content of the folder:
![image](https://user-images.githubusercontent.com/61196133/90525028-11888300-e16f-11ea-8fa8-9b0509b17da8.png)

[2020-08-18 15:56] freddy38510 commented on #17
All looks good for me.

It seems we simply missed the `www` folder.

Can you try to run `quasar serve dist/spa/public/www` ?

[2020-08-19 08:04] vandelpavel commented on #17
After `quasar ssg build` and `quasar serve dist/spa/public/www` no console errors but when loading the page for the first few second i see all the icons black filled and some text over the background then the page loads like noral.

The www folder:
![image](https://user-images.githubusercontent.com/61196133/90607784-ff0b5980-e201-11ea-9955-ea4c9637c383.png)

[2020-08-19 11:22] vandelpavel commented on #16
By the way i found why it was saying that window was not defined.
I discovered that window was used inside a mixin (As you said)
``If you can't find where the global window is used in your project files, maybe it is coming from some dependencies you are importing. Try to import them only at client side.``

[2020-08-19 11:59] freddy38510 commented on #17
It looks like a FOUC (Flash Of Unstyled Content).

Did you enable criticalCss from the extension ?

If you did you should also set `extractCSS` to `true` in quasar-conf.js

For the preload strategy i recommend to set it to `media` as it seems to give the best performance.

If nothing of that avoid the FOUC, try to set `criticalCss.enable` to `false`.

PS: There are some commits that i will push so

[2020-08-19 14:29] freddy38510 commented on #3
@IlCallo
I made a lot of changes without commiting it. So, i decided to rename the master branch to "v0.0.1".
Then, i made a new master branch with only one commit including all the previous code with all the changes i talked about.

This way, i hope to keep a clean history and use conventionnal naming of commits.

You can see in the updated docs that the configuration has been moved to `ssg` key

[2020-08-19 14:29] #3 closed

[2020-08-19 14:30] vandelpavel opened #18 "error '_q' is defined but never used no-unused-vars"
Every time i invoke the AE it keeps rewriting the `src/boot/bodyClasses.js` (obviously unless i skip that step).
Doing so it will keep adding the `_q` variable that is never used throwing an error on build time.
I suggest something like:
[code]

[2020-08-19 14:31] freddy38510 commented on #5
Fixed in https://github.com/freddy38510/quasar-app-extension-ssg/commit/2bab4ff83e29cbdbc61a4c1b73e8208725a10557.
See here https://github.com/freddy38510/quasar-app-extension-ssg#builddir for details.

[2020-08-19 14:31] #5 closed

[2020-08-19 14:34] freddy38510 commented on #18
I just updated the master branch. You can see a better docs now that i suggest you to read carefully. Old code is in this branch https://github.com/freddy38510/quasar-app-extension-ssg/tree/v0.0.1

So, i recommend you to update the ssg app extension dependency in your project.

You should not having issue with `bodyClasses` now. Let me know if all is okay for you.

[2020-08-19 14:35] freddy38510 commented on #17
I close the issue as this is not related to the extension.

[2020-08-19 14:35] #17 closed

[2020-08-19 15:12] vandelpavel commented on #17
Yes i enabled it when invoking the AE.
For the preload i opted for default, i'll try media thanks for the advice ;)
After setting `extractCSS `to `true ` and using `media` strategy it keeps doing like before.
I also tryied  setting criticalCss.enable to false and actually keeps doing the same.
I saw you committed some changes, i'll try do uninvoke the AE and try again following the new read me.

[2020-08-20 09:54] vandelpavel commented on #18
I can't actually intall it. I think to have removed all the old dependencies but i get:
[code]

[2020-08-20 10:56] vandelpavel commented on #18
I also tried with `--allow-unrelated-histories` option and also tried in the test project and in a brand new project.
Keeps sending the same error.

[2020-08-20 11:00] freddy38510 commented on #18
You have to clean the cache dependencies to remove old history of this repo.

`yarn cache clean`

[2020-08-20 11:14] vandelpavel commented on #18
Oh thank you i didn't know that. You are teaching me lots of things doing that. Now i'll rewiew everithing :)

[2020-08-20 11:23] vandelpavel commented on #18
Maybe later i'll send you a PR where i see some errors but i've noticed `Serve
This extension provides a command to create a server for testing your static site localy:`
think you ment `Locally* `

[2020-08-20 12:10] freddy38510 commented on #18
You are welcome to contribute to this project, do not hesitate.

This extension need more testing to be considered as stable. So i will be glad to see all possibles feedbacks, including errors in the documentation.

Concerning the actual issue, let me know if you have errors related to TypeScript with the last version.

[2020-08-20 12:41] vandelpavel commented on #18
I think my problems originated due to a series of instructions used to create a SSG with a different mechanism and when i removed them i simply missed something somewhere that hidered this mechanism.
By the way... no more problem with `bodyClasses`. I encountered some errors but i need to check the causes.
In case of need i'll open another issue. I think this one can be closed.
Awesome job! 👍

[2020-08-20 12:43] freddy38510 commented on #18
Thank for your feedback @vandelpavel, i close it now.

[2020-08-20 12:43] #18 closed

[2020-08-20 14:47] vandelpavel commented on #17
Actually i'm keep haveng the same `404 on /` error with the new version.
Also in the https://github.com/freddy38510/quasar-app-extension-ssg#routes part probably you forgot a `;` at the end.
Also options must go in quasar.conf or you can set them in quasar.extension.json inside the `ssg` block?

[2020-08-20 15:03] vandelpavel commented on #17
Ok probably you can't set them in quasar.extension.
Anyways...
I tried to create a fresh quasar project from scratch following your guide and after trying to put the routes both in quasar.con and quasar.extension i couldn't be able to make it work.

[2020-08-20 15:10] freddy38510 commented on #17
Configuration are not parsed from `quasar.extensions.json`.

I think you edit the default `build.distDir` and you served files from the wrong folder.

Which command are you using to test the site ?

Which value have you set to `build.distDir` in `quasar-conf.js` file ?

[2020-08-20 15:30] vandelpavel commented on #17
No didn't edited dist dir this time and serving right folder.
i'm using `quasar ssg serve dist\ssg`
Yes i set my ports on quasar.consig.js.
There is a reason why you are writing quasar-conf instead of quasar.config? Probably i'm referencing to the wrong file

[2020-08-20 15:36] vandelpavel commented on #17
To reproduce create a new quasar project;
Execute:
`yarn add --dev https://github.com/freddy38510/quasar-app-extension-ssg`;
`quasar ext invoke ssg`;

Set the path you need in `quasar.conf`;
Execute `quasar ssg generate` and then serve it like so `quasar ssg serve dist\ssg`

[2020-08-20 15:52] freddy38510 commented on #17
If you are typing `dist\ssg` it results to `distssg`.

You should use `quasar ssg serve dist/ssg`.

You are right about quasar config file. There is a dot instead of a dash, my bad.
Its right name is `quasar.conf.js`.

[2020-08-20 16:12] vandelpavel commented on #17
This time the folder have the home inner folder and should work fine...
![image](https://user-images.githubusercontent.com/61196133/90797230-aaa2cf80-e310-11ea-8f02-fca4b045eb76.png)

[2020-08-20 17:37] freddy38510 commented on #17
I guess you are on Windows. I'm using Linux and the output tip is different from yours concerning `dist/ssg`.

Is it right ?

[2020-08-21 07:44] vandelpavel commented on #17
Yes i'm using windows but also using `/` doesn't make it works

[2020-08-24 09:07] vandelpavel opened #19 "Late css loading: FOUC"
When i try to load my web site it keeps  loading the icons and text with no css creating few second where everyhing is awfull.
Here is the link where you can give a look. To see in depth the output i sudjest to disable the js from developer's tool.
I followed the critical css guide in this extension and nothing changed.
http://dreamonkey-quasar-ssg-app-extension-test.s3-website.eu-west-1.amazonaws

[2020-08-24 14:22] freddy38510 commented on #19
You should enable `gzip` or `brotli` on your server. Without compression, the total network bytes is really big, especially in your case.

There is a lot of problems the way you handle your css.

The only thing i can do is to encourage you to understand:
- what is a render blocking resource
- what is the critical rendering path

When you begin to be comfortable with these concepts, you can start t

[2020-08-24 16:15] vandelpavel commented on #19
Yeah i will study those concempts and i'll make them mine. By the way thank you for all you have done. You are a cool guy, it has been a pleasure to meet you!

[2020-08-26 13:33] vandelpavel commented on #19
I found that some css was managed from js so it would be added once js comes.
Also i found that i forgot to reset the `extractCSS: false` in my `quasar.conf.js`.

[2020-08-31 15:59] IlCallo opened #20 "Failing build when providing a `build > distDir`"
Hey there! Really glad you managed to make so much progress on this.
I tried to make the SSG work with a custom `distDir` but it fails due to this part of the extension:

https://github.com/freddy38510/quasar-app-extension-ssg/blob/c68d9675b4a86545aaddae9258d75e62bf102df1/src/index.js#L29-L32

Here you initialize the `conf.ssg.__distDir` option, but only if `conf.build.distDir` isn't provided.
Lat

[2020-09-01 10:43] IlCallo commented on #19
Late to the party, trying to catch up with new findings: the FOUC was indeed caused by critical CSS not being available when needed.
Forcing `extractCSS: false` solved the problem because the whole CSS gets inlined, which is not optimal.

Seems like [the `critical` example](https://github.com/freddy38510/quasar-app-extension-ssg#aftergeneratefiles-distdir) into the README, at least in our case, co

[2020-09-01 10:49] IlCallo commented on #19
PS: when running `critical` on our project `afterGenerate` hook, we get a Node error.

`(node:28844) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 exit listeners added to [process]. Use emitter.setMaxListeners() to increase limit`

Adding `require('events').EventEmitter.defaultMaxListeners = 0;` on the top of `quasar.conf.js` remove the warning, but `11` is the number

[2020-09-01 11:56] freddy38510 commented on #19
@IlCallo
I tried Critical with the option provided in the README on a default Quasar project, and the critical CSS was correctly generated. I didn't see any FOUC.

Critical is using [Penthouse ](https://github.com/pocketjoso/penthouse) which is using [Puppeteer](https://github.com/puppeteer/puppeteer) to render the page in Chromium (headless by default).

The stylesheets are extracted from the ren

[2020-09-01 12:04] freddy38510 commented on #20
Thanks @IlCallo to notice that issue !

I totally messed up the distDir when i reviewed my code. Before that, custom distDir was working.

I will push a commit soon, thanks again :)

[2020-09-01 12:19] #20 closed

[2020-09-01 13:44] IlCallo commented on #19
I would say the extracted CSS from lazy-loaded pages is required by the app JS chunk, and that could be the reason for the FOUC, even if I would say the SSR step should have already added that import into the index head tag...

Unluckily `blockJSRequests: false` did not help.

Adding an automatic queue machanism could be an interesting idea but I think it belongs to critical and penthouse to do so

[2020-09-01 14:59] freddy38510 commented on #19
I would be happy to reproduce this issue then see if the stylesheets are presents into the head tag of generated html by the extension.

Then, i would like to see how these pages are rendered in Puppeteer.

This surely help us to understand what is going on with CSS.

Could you give me some hints to reproduce the issue ?

[2020-09-01 15:49] IlCallo commented on #19
Don't think I will be able to do so this week, as I'm working on other aspects of SSG and shall catch up with some Quasar core stuff too, but will come back to these CSS problems when I manage to find some time

[2020-09-01 15:56] IlCallo commented on #19
Could you reopen the issue, in the meantime?

[2020-09-01 16:00] IlCallo opened #21 "Prompt options: add scripts"
Many AE use Prompt API to ask the dev for some initialization options and take care of scaffolding related code.

I think it could be a good idea to add a "add scripts into your package.json" which automatically adds build and serve commands like so:

[code]

[2020-09-01 16:04] freddy38510 commented on #19
Sure i can.

Don't bother you to do that. I was just asking for some hints about use case of CSS that could cause FOUC.

I will try at my side many ways of handling CSS in a default project.

[2020-09-01 16:06] freddy38510 commented on #21
This is a good idea !

I will implement it shortly. Thanks !

[2020-09-01 16:24] IlCallo opened #22 "Sharing routes paths between router/routes.js and ssg > routes option"
I'll drop here a suggestion for an use case, for whom could need it.
I explored a bit how to keep in sync routes path for SSG configuration and router option object.
This is a bit tricky because `quasar.conf.js` is handled as CommonJS, while `router/routes.js` is ES5 syntax and the two cannot be mixed, at least until Quasar CLI files will be transpiled too or Node will finally understand ES module

[2020-09-01 16:28] IlCallo commented on #22
I can also see an interesting integration with [auto-routing feature](https://github.com/quasarframework/rfcs/issues/6), when it will be available

[2020-09-01 16:35] IlCallo opened #23 "Prompt option: setup critical CSS inlining"
Premises are the same as #21

Adding an option for critical CSS inlining is an easily automatable task, an AE prompt to the dev will be a better push to this best-practice instead of asking him to copy/paste the same code from the README

[2020-09-02 12:01] freddy38510 commented on #23
Initially i didn't want to make the extension too opinionated. But after thinking of it, users could disable this feature then do it themself the way they want, with the library they want.

For memory leaking issue, we could generate critical CSS every time a page is rendered before writing it to a file. Instead of doing it after all pages have been generated.

What do you think about that ? @IlCa

[2020-09-02 12:23] #21 closed

[2020-09-02 12:35] freddy38510 commented on #22
I would like to implement this feature. It could be awesome for projects that have a lot of pages to generate.

What about dynamics routes ?

Crawling the website like Nuxt does, solves this issue. But i agree with you, this is an overkill.

[2020-09-02 15:17] IlCallo commented on #22
Good question, I have no idea at all :rofl:
I'm actually not that skilled into routing, until now I only built projects with few pages so I don't have much experience in that area, but you can try to ask on the Discord server or Quasar Forum if anyone already hit this problem and how they solved it

[2020-09-02 15:26] IlCallo commented on #23
I meant that you could automatically add the code you provide in the README if the user select that feature into prompts, but baked in support is good too, I don't really have an opinion on this right now

Unluckily, I don't have much experience in this field too... Are there cases where you do need to have all files processed to calculate the critical CSS? If not, I guess doing it on a "per file"

[2020-09-10 00:52] #23 closed

[2020-09-10 10:00] IlCallo commented on #19
Nope, still present.
Maybe due to our project components structure, I guess we have to investigate this on our end.

But this error went away, so still a win :)

---

Just a suggestion: it's usually better to centralize the configuration, so you should use the prompt result to initialize a property into `ssg` configuration object, instead of using it directly via `api.prompts`. When using the latt

[2020-09-10 10:04] IlCallo commented on #19
Another way, if you think the CSS inline is a thing everybody will need and enable, is to just enable it by default and ask people to disable it manually if they don't want it.
Previous version required to add some code and configuration, this version only require to add a property to false, much easier for everyone :)

Could be useful to give the user the ability to override Critters configuratio

[2020-09-10 16:03] IlCallo opened #24 "http-proxy-middleware TS conflict error"
Seems like there is a TS conflict generated by different version of `http-proxy-middleware`.
See https://github.com/DefinitelyTyped/DefinitelyTyped/issues/45479

[code]

[code]

Don't really know how and if this can be solved on your part, but at least now you know :)

[2020-09-14 12:45] IlCallo opened #25 "Compatibility with @quasar/app 2.1.0"
Seems like something breaks when using the AE with `@quasar/app` v2.1.0

![image](https://user-images.githubusercontent.com/10036108/93087054-503f2980-f698-11ea-8acc-64e2dbf36851.png)

I see you already tried to address this in https://github.com/freddy38510/quasar-app-extension-ssg/commit/afd9e2549dde6fb44dcf964a534183db97067294 but seems like something isn't working anyway.

Glancing over the co

[2020-09-14 18:26] freddy38510 commented on #25
@IlCallo thanks for reporting this issue.

I will look further into it later this week, i have higher priorities, the days are too short :)

For your information, i made a lot of progress regarding the FOUC issue. I will come back to you with more details.

[2020-09-14 22:24] IlCallo commented on #25
Thank you for working on this!
Can't wait to see the progress you made ;)

[2020-09-16 16:41] #25 closed

[2020-09-16 16:43] freddy38510 commented on #25
@IlCallo I made a mistake by switching webpackConf and quasarConf :s

[2020-09-17 09:54] IlCallo commented on #25
Well, it's a good thing the bug was a simple variable misplacement :laughing:

[2020-09-17 10:12] freddy38510 commented on #19
@IlCallo,

Let me explain what i found:

When `extractCSS` option is set to `true`, styles included via an `import` code is extracted. This is good for production build, because we don't want [all the Quasar styles](https://github.com/quasarframework/quasar/blob/3a072ece0e9d564e71867a0691d12815c5873e4e/app/templates/entry/client-entry.js#L25) inlined. Styles from `<style>` tags in our own SFC comp

[2020-09-17 11:42] #24 closed

[2020-09-21 09:38] freddy38510 commented on #24
@IlCallo From my understanding, there is one dependency of `http-proxy-middleware@0.19.x` in `@quasar/app` coming from the dependency `webpack-dev-server` itself.

There is another dependency of `http-proxy-middleware@1.x.x` in `@quasar/cli` package used by its own `serve` command.

The `serve` command of this app extension involves `@quasar/app` package, i think the conflict is coming from here.

[2020-09-21 11:54] IlCallo commented on #24
Exactly, and `webpack-dev-server` will have updated dep with version 4 (not yet out).
When `webpack-dev-server` v4 is out and @quasar/app updates it, you can revert back to how you were doing previously. That's why I said to mark it in some way, so you can check again in some months if the problem is solved upstream

[2020-09-21 12:28] freddy38510 commented on #24
I pinned this issue, waiting for [`webpack-dev-server` v4](https://github.com/webpack/webpack-dev-server/pull/2592) out and updated in `@quasar/app`.

Thanks @IlCallo !

[2020-09-28 11:35] IlCallo commented on #19
And is `quasar.server-manifest.json` an automatic generated file? Or we should mark all files/globs to include for each async component? That's not clear from the explanation

I'd avoid to override `extractCSS` property as it's not much future proof. Adding your own property seems the best

[2020-09-28 12:44] freddy38510 commented on #19
`quasar.server-manifest.json` is an automatic generated file by the webpack plugin `vue-server-renderer/server-plugin`.

The name of this file is set [here](https://github.com/quasarframework/quasar/blob/40f261d0eb12908af8f1ad0574c5e40a012aa636/app/lib/webpack/ssr/server.js#L45) in Quasar.

This is the server bundle that will be passed to [createBundleRenderer](https://ssr.vuejs.org/guide/bundle-r

[2020-10-06 14:12] saifobeidat opened #26 "Could not find module "browsers-support" while building"
I am trying to generate Static Pages using this extension by this command : `build:ssg': 'quasar ssg generate` but it fails with following error `   Error: Cannot find module 'C:\Users\user\repos\abwaabv2\node_modules\@quasar\app\lib\helpers\browsers-support'`

Here's a screenshot of the issue:
![image](https://user-images.githubusercontent.com/24841143/95212753-b2ea9780-07f6-11eb-8847-5bdb28530df

[2020-10-06 18:31] freddy38510 commented on #26
@saifobeidat thanks for reporting this issue.

Which version of `@quasar/app` are you using ?

You can see the file `browsers-support.js' added in this commit https://github.com/quasarframework/quasar/commit/cd2c38aec6e7347368c3fcee7ca44faf5b53d0cf

[2020-10-07 06:11] saifobeidat commented on #26
Thanks @freddy38510  for your quick answer, the version is `"@quasar/app": "^1.8.10"`..

should I upgrade to make it work?

[2020-10-08 14:01] #26 closed

[2020-10-08 14:06] freddy38510 commented on #26
This file was added in `@quasar/app@2.0.0`, sorry for this drawback. You don't have to update Quasar if you don't want/need to.
Please update this extension and tell me if the issue is fixed for you, thanks :)

[2020-10-11 06:48] saifobeidat commented on #26
@freddy38510 Thanks, the error has gone.. but I face another issue, I will be posting it separately.

[2020-10-11 07:26] saifobeidat opened #27 "There're no generated routes in the dist/ssg directory"
I am trying to generate some routes, so I added the following in the quasar.conf.js

`ssg: {
			routes: ['/ar', '/ar/explore/10', '/ar/explore/11']
		},`

and used this command to  generate the above routes: `npm run build:ssg`

The build was completed but with an error:  ` Extension(ssg) · ⚠️    TypeError: d.Cookies.has is not a function`

![image](https://user-images.githubusercontent.com/248411

[2020-10-11 11:44] freddy38510 commented on #27
@saifobeidat,
How do you import and use the Cookies plugin ? There is a [note ](https://quasar.dev/quasar-plugins/cookies#Notes-on-SSR) about how to do it for SSR in Quasar documentation.

Also you should keep in mind that no headers from the client are sent to the server when your pages are prerendered/generated. So, it means that there is no Cookies available from the client at server side.

[2020-10-11 11:55] saifobeidat commented on #27
@freddy38510 I am importing the Cookies plugin like this `import { Cookies } from 'quasar'` .. and yes it's mentioned that it should be changed to another form when using SSR mode.. but I am not using this mode,, Thanks.

[2020-10-11 16:14] freddy38510 commented on #27
@saifobeidat
This app extension is using SSR mode to prerender pages, so actually you are using it.

Let me clarify the difference between SSR mode and SSG mode:
- In SSR mode, routes are rendered on a server then served to a client.
- In SSG mode, routes are rendered on a server the same way as in SSR mode, but **at build time**, then saved to static html files.

If you need more explanations, do

[2020-10-12 11:58] saifobeidat commented on #27
@freddy38510 Thanks,

I have made some temporarily changes such as removing the usage of Coockie, and yes the errors have gone but and new errors related the `window `came out.. it seems those plugins/object are being called at the server side and cause errors as we don't have for example `window `object at the server-side.. so my question is how to avoid those objects from being called at the ser

[2020-10-12 16:15] freddy38510 commented on #27
You should write your code with SSR mode in mind. There is a good starting point in Quasar documentation about [how to write universal code](https://quasar.dev/quasar-cli/developing-ssr/writing-universal-code).

You might take a look at the [components lifecycle hooks](https://quasar.dev/quasar-cli/developing-ssr/writing-universal-code#Component-Lifecycle-Hooks) first.
Then, if you are using some

[2020-10-12 16:15] #27 closed

[2020-11-04 14:19] IlCallo commented on #19
I got sucked into some work projects, I'm slowly resuming my open source effort in these weeks.
Currently struggling to make one of our loaders work with SSR (and so this package SSG), will come back around here probably next months, sorry for stopping responding all of a sudden :sweat_smile:

[2020-11-04 15:56] freddy38510 commented on #19
Don't be sorry, i'm currently facing the same situation. You already helped me a lot in this project.

Could you tell me more about these loaders when you have some free time ? Is it related to inlined styles ?

[2020-11-05 00:39] IlCallo commented on #19
Nope, there were 2 distinct errors, related to Quasar SSR build which apparently share webpack entries between the client and server configuration generating a conflict, and about some of the code not being thought to run on node.

You can see them explained in the faq here:
https://github.com/dreamonkey/responsive-image-loader

[2020-11-16 11:13] vandelpavel opened #28 "Does not refresh modified dependencies"
I'm using [this Quasar AppExtension](https://github.com/dreamonkey/quasar-app-extension-meta) to manage tags and meta.
I'm currently working on that AE so i added a local dependency to test my progress. I noticed that while in dev or ssr mode every time i modify the AE and i run `yarn add -D ../path` and `quasar ext invoke @dreamonkey/meta` everithing works just fine. With this AE i always need in

[2020-11-16 14:55] IlCallo commented on #19
Seems like we finally managed to make everything work with your SSG AE :partying_face:
We're using Critical right now, but plan to work on checking out the new version based on Critters you proposed.
Do you plan to put the AE on NPM at some point, to be able to use versioning properly?

To make it work on both Linux and Windows, we had to change some stuff using `join` to get the right separators.

[2020-11-24 22:37] freddy38510 commented on #28
If i refer to the [Quasar documentation](https://quasar.dev/app-extensions/development-guide/introduction#Install-and-prompts-scripts), to develop localy an app extension, you should add it to the dependencies like this:

[code]
If you don't want to repeat the uninstall and install procedures, just follow the [Developing](https://github.com/freddy38510/quasar-app-extension-ssg#developing) section

[2020-11-24 23:03] freddy38510 commented on #19
Thanks you @IlCallo for the separator tips. I will try to push a commit about this in the following days. Same thing goes for publishing it on NPM. You're right, i think it's time to do it.

I'm glad to hear that you made your AE working with this one. I saw the commit you made, good catch about deferred scripts and `onload` event.

These last weeks i miss a lot of time to work on this project, an

[2020-11-25 15:04] IlCallo commented on #19
Yeah, also though about asking you to add a "do not defer these scripts" option, but we noticed is an SSR thing outside of this package scope, so we just fixed it at our end

No problem, we'll probably be in the same situation until February end :)
If not, we can still propose some PRs or fork the repo, realigning it when you come back

[2020-11-26 03:18] freddy38510 commented on #19
Exactly, i already faced this "issue" with [`vue-lazy-hydration`](https://github.com/maoberlehner/vue-lazy-hydration).

If it can help you, there is an [issue on vuejs](https://github.com/vuejs/vue/issues/9847) about this. And a [PR](https://github.com/vuejs/vue/pull/10794) that is not merged yet.

Feel free to propose some PRs, i will take time to review and merge them.

[2020-11-26 18:08] vahost commented on #24
What works? What's the fix?

[2020-11-27 12:59] freddy38510 commented on #24
@vahost The fix is to avoid using differents versions of `http-proxy-middleware` in your project, resulting in a types conflict.

In this App Extension i was using version `http-proxy-middleware@1.x.x` while the dependency `webpack-dev-server` is using the version `http-proxy-middleware@0.19.x`.

[2020-11-27 14:38] freddy38510 commented on #19
I was just reading again what you said about path separators. Previously, i removed the section about `critical` in the readme. So i don't need to make any commits about this. But, i will keep in mind that glob entries should use posix paths.

I hope to have time to refactor a little the changes i made localy for inlined styles. Right know this is working, but i'm not happy about the way i made th

[2020-11-30 07:37] shaxper opened #29 "undefined ls-remote -h -t"
I try to install this extension and get the next:

D:\Projects\quasor\qsanche>quasar ext add ssg
 App · Installing "ssg" Quasar App Extension

 App · Retrieving "quasar-app-extension-ssg"...
 App · [sync] Running "npm install --save-dev quasar-app-extension-ssg"

npm ERR! code ENOENT
npm ERR! syscall spawn git
npm ERR! path git
npm ERR! errno ENOENT
npm ERR! enoent Error while executing:
npm ERR!

[2020-11-30 13:21] freddy38510 commented on #29
@shaxper It seems that you need to install `Git` on your system.

I guess that you are on Windows, you can follow this [guide](https://github.com/git-guides/install-git#install-git-on-windows).

[2020-11-30 13:24] freddy38510 commented on #28
@vandelpavel,

I published the AE to NPM. Could you try to update it, and tell me if you still have this issue please ?

[2020-12-07 16:35] #29 closed

[2020-12-07 16:36] #28 closed

[2020-12-14 00:07] lukadriel7 opened #31 "Error using InjectManifest pwa mode"
Hello, While building using the InjectManifest with pwa:true for ssr, the following error occurs:

`Extension(ssg) · ⚠️    ValidationError: "swSrc" is not a supported parameter.`

This is my custom manifest:

[code]

The error doesn't occur when using GenerateSW

[2020-12-14 16:08] #31 closed

[2020-12-14 16:24] freddy38510 commented on #31
@lukadriel7,

Thanks for opening this issue. It should be fixed in the new [`1.0.2` release](https://www.npmjs.com/package/quasar-app-extension-ssg/v/1.0.2).

Could you try it by upgrading the app extension with this command please ?
[code]

Also, like it is mentioned in the README, `offline.html` file is replaced by your [configured fallback html file](https://github.com/freddy38510/quasar-app-ex

[2020-12-14 20:18] lukadriel7 commented on #31
Thank you very much for the quick fix and the notice.
Thank you also for your work on this package.

[2020-12-14 23:53] lukadriel7 opened #32 "InjectManifest doesn't build the custom-service-worker"
Hello again,
Using InjectManifest causes the custom-service-worker file to be copied as is in the distribution folder without building it.
It causes error on run-time when using imports in the custom-service-worker.js file since webpack isn't used to create the file.

I don't know if the behaviour was intended so I thought it might be better to open an issue about that.

Best regards

[2020-12-16 16:55] #32 closed

[2020-12-16 17:07] freddy38510 commented on #32
@lukadriel7,

Thanks again for finding this issue. You're right, InjectManifest method does not compile service worker with [`workbox-build` ](https://developers.google.com/web/tools/workbox/modules/workbox-build)as it does with [`workbox-webpack-plugin`](https://developers.google.com/web/tools/workbox/modules/workbox-webpack-plugin).

It should now compile it with webpack, using Quasar webpack co

[2020-12-17 13:25] vandelpavel opened #33 "cant get process.env.MODE"
@freddy38510
I'm trying to split my project and i need it to run half in SSG and the other in SSR.
With that in mind my problem comes when i try to split routes and when i'm asking for the MODE i can't search for ssg.
Also the portion of code that should run in ssr both runs in ssr and ssg.

Any clues on how to separate things?

(also i'm starting to get familiar with routing and dynamic routes) #

[2020-12-17 13:39] freddy38510 commented on #33
You're right, you can't combine both modes because i developped this extension with only SSG in mind.

But, the extension should build your app in SSR mode and generate static pages for the routes you provide in SSG options.
It could be interesting to add this feature based on [router option object](https://github.com/freddy38510/quasar-app-extension-ssg/issues/22).

Right now, i think it will be

[2020-12-29 15:30] vandelpavel commented on #19
I dug into @freddy38510 's code and i almost figured out how the critical code is managed. Tell me if i'm wrong:

-Inside the index.js you create a generator obj

[2020-12-29 16:59] freddy38510 commented on #19
The steps you described are exact. The generation of static html pages is done after Quasar build your app in ssr mode.

However, `critters-webpack-plugin` only works for html files generated by `html-webpack-plugin`. Which is not the case for the html files we are talking about. This is why i forked `Critters` to be able to run it as a standalone.

But, as is, this will not fix all FOUC issues in

[2020-12-30 02:02] 10hamachi opened #34 "Failed to install quasar-app-extension-ssg"
quasar ext add ssg
 App · Installing "ssg" Quasar App Extension

 App · Retrieving "quasar-app-extension-ssg"...
 App · [sync] Running "npm install --save-dev quasar-app-extension-ssg"

npm ERR! path git
npm ERR! code ENOENT
npm ERR! errno ENOENT
npm ERR! syscall spawn git
npm ERR! enoent Error while executing:
npm ERR! enoent undefined ls-remote -h -t https://github.com/freddy38510/critters.git
n

[2020-12-30 09:28] vandelpavel commented on #19
I just noticed that criters docs says `It also means Critters inlines all CSS rules used by your document, rather than only those needed for above-the-fold content.`
Have you modified the fork to be able to just inline the above the folder section or are you inlining all the style?

[2020-12-30 10:49] freddy38510 commented on #34
Seems to be the same error than [this issue](https://github.com/freddy38510/quasar-app-extension-ssg/issues/29).

The [`Critters` dependency](https://github.com/freddy38510/quasar-app-extension-ssg/blob/ce861a95ccf96c5ad7ed369c757784a50dd1b4b6/package.json#L46) in the AE requires **`git`** to be installed on your system, to let `npm` fetch it.

This is because i fork [`Critters`](https://github.co

[2020-12-30 10:49] #34 closed

[2020-12-30 10:57] vandelpavel commented on #19
After a little discussion we think that the proper way to inline critical paths in ssr is:
- run the build
- in the after build hook you need to render the html page and give it to critical (or critters depends if it only inlines the above the fold portion)
- then critical would process the page and generate a new html file

Here is where the concept splits in half:

**SSG**
- you can directly use

[2020-12-30 11:03] freddy38510 commented on #19
In the fork i didn't change anything related to `Critters` behaviors about CSS.

You could always disable inlining critical CSS with `Critters` by setting `ssg.criticalCss` option to `false`.
Then use `afterGenerate` hook like this for example:

[code]

[2020-12-30 11:21] vandelpavel commented on #19
Yes we know that, i just wanted to point (if I'm not wrong) that critters differs from critical for inline all the css and not just the above the fold.
If you just want to inline all the style you could use ```extractCSS:false``` inside the quasar.conf.

[2020-12-30 14:05] freddy38510 commented on #19
Setting `extractCSS` to `false` inline all the [Quasar style](https://github.com/quasarframework/quasar/blob/dev/ui/src/css/index.sass).

Let me try to explain what is the current situation about CSS, Quasar, and SSR.

- In SSR mode the content of pages is generated by `bundleRenderer` from `vue-server-renderer` package.
`bundleRenderer` has [a feature for automatic critical CSS](https://ssr.vuejs

[2020-12-30 21:13] yeus opened #35 "Extension(ssg) · ⚠️ ReferenceError: window is not defined"
Hi thx for this great plugin!  I have found the following issue. I am not sure where the problem lies. The SSG version seems to work just fine and I can serve it. But during generation I get this error:

[code]

Any idea what this is about and where it comes from?

[2020-12-31 11:01] freddy38510 commented on #35
Hi,

It seems that the `window` object is called somewhere in your app. This object is not available at server side.

Be sure that you write [universal code](https://quasar.dev/quasar-cli/developing-ssr/writing-universal-code) like you would do in SSR mode.

In most cases this is due to a third party library. If you are using some Boot files, you can [specify to run it only at client side](https:/

[2021-01-01 21:14] freddy38510 commented on #19
@vandelpavel I was reading again [your post](https://github.com/freddy38510/quasar-app-extension-ssg/issues/19#issuecomment-752416128). For the SSR part, did you mean to pre-generate critical css at build-time, then inline this critical css during the server side rendering in response to each request from the client ?

[2021-01-04 16:20] vandelpavel commented on #19
Yes, we need to generate the html files like you do inside this extension just to be able to run critters. Then being in SSR we don't need those files anymore. We just need the css to inline while the rest is loaded like normal.

[2021-02-23 23:04] kosirm opened #36 "Can it possibly be used with quasar 2?"
Sorry if it is stupid question... I'm pretty new here. Thanks.

[2021-02-23 23:40] kosirm commented on #36
I just found out that Quasar 2 doesn't have SSR support yet due to some Vue issues. Anyway I'm interested to know if you plan to make this work on Quasar 2 when SSR will be available? Thanks.

[2021-02-25 12:42] freddy38510 commented on #36
Hi @kosirm ,

Yes, for sure i'm planning to do it, as soon as Quasar 2 stable version with SSR support is out.

[2021-02-25 12:45] #35 closed

[2021-02-28 19:42] kosirm commented on #36
Thanks!

[2021-03-10 10:17] gDev95 commented on #24
Still don't understand how you fixed this. I have the same problem after `@quasar/app` to v2.2.1 and can also confirm that i have two different versions of `http-proxy-middleware`

[code]

Still i cannot read out steps or a general solution to remove on dependency here

[2021-05-17 19:20] freddy38510 commented on #33
@vandelpavel

From [release 1.1.0](https://github.com/freddy38510/quasar-app-extension-ssg/releases/tag/v1.1.0) you can use [`process.env.STATIC`](https://github.com/freddy38510/quasar-app-extension-ssg#processenvstatic)to conditionnaly do things depending if you're app was built with `quasar ssg generate` or not.

[2021-05-26 03:52] eyedean opened #38 "Exit Code is 0 for failing builds"
I have a Quasar project and I am using this extension to generate SSG pages.  The pages are uploaded to the AWS servers (S3 behind a CloudFront CDN) and everything is great!

Today, there was an error in one of my codes (used `window` without checking if `process.env.SERVER` is `true` for SSR).  The error is not showing up during `quasar build -m ssr` build time.  It shows up during generate phase

[2021-05-26 12:48] #38 closed

[2021-05-26 19:16] eyedean commented on #38
Wow, I really appreciate the quick turnaround @freddy38510! 👏 🎉

## Your fix works great!

I just tested that on `1.0.4` (that I was on) this issue happened and `quasar ssg generate && echo "continuing to push"` did print out `continuing to push`" even when there was a SSR rendering error.

On `1.2.0`, with the same SSR error, `quasar ssg generate --fail-on-error && echo "continuing to push"` didn

[2021-06-22 10:25] Nisgrak commented on #36
Hey @freddy38510!

Quasar just make the v2 stable, I would love to have this extension.

Thanks for all your work 😄

[2021-06-22 14:29] freddy38510 commented on #36
Hey @Nisgrak

I'm actually implementing new features, i'm very close to finish. Then i will make this extension compatible with Quasar v2 :)

Any help is welcome, feel free to make some PR if you want.

The features i'm talking about are:

- Get routes to generate from the App router. (DONE)
- A crawler to find dynamic routes and generate them. (DONE)
- A better concurrency management with queue i

[2021-07-17 17:24] lukadriel7 commented on #36
This feature is really what quasar lacks at the moment. I hope they will integrate it to the main project.

[2021-08-20 02:30] lukadriel7 commented on #36
Hello, just checking to see if the project is still being developed

[2021-08-20 12:02] freddy38510 commented on #36
Hello @lukadriel7,

I am working hard on it even if i didn't push a commit since a while.

I will come with a solution for FOUC issue in the next days. Then i will start working on Quasar v2. Any PR is welcome by the way :)

[2021-08-25 15:42] #22 closed

[2021-08-25 15:42] #19 closed

[2021-08-25 16:27] freddy38510 commented on #36
@lukadriel7,

The features i was talking about since many weeks are now done and new versions published.

Now i can work on Quasar v2 support. I will put some feedback here about the progress of the development.

Meanwhile you can upgrade to quasar-app-extension@2.0.0. I will be glad if you tell me how it works, and hopefully no new issues discovered :)

[2021-08-28 10:46] lostnet commented on #36
Tuning for above/bellow the fold without adding client side computation struck me as theoretically impossible since a client shouldn't communicate unique screen dimensions like a portrait mode monitor which might make many things above the fold that other clients shouldn't load. But I am interested in testing other aspects to test ways to improve mobile lighthouse performance.

I took a stab at tr

[2021-08-30 18:59] freddy38510 commented on #36
@lostnet,

You are absolutely right about critical css above the fold. One possibility is to generate critical css above the fold for multiple resolutions based on average clients that uses your web app. This is not perfect and i doubt that you can obtain a significant performance improvement.

From the tests i did, purging quasar css from unused rules is a good starting point.
There is also a imp

[2021-08-31 13:27] lostnet commented on #36
For fonts I went with the new fad of trying to get the best builtin font:

[code]

But having a decent font uniformly loading would be a great improvement as this ends up looking better in some browsers than others.

Sorry this was just the 301 redirection, I was/am confused since some of our analytics makes it look more like we had this [router issue](https://github.com/vuejs/vue-router/issues/29

[2021-08-31 14:28] freddy38510 commented on #36
There is many ways to handle fonts to improve performance and user experience. This could lead to a very long conversation :) Let's try to focus on the issue.

About 301 redirection this is handled by the app extension since v2.0.0 and specifically this [commit](https://github.com/freddy38510/quasar-app-extension-ssg/commit/6ffb2cf7b9c1087f098005cf3eda53b8e013a399).
The app extension is "agnostic"

[2021-08-31 16:04] #36 closed

[2021-09-01 13:44] lostnet commented on #36
Thanks @freddy38510, it works great desktop remains **95-100%** with the new version and mobile has gone up to about **76-77%** from **40-45%** with the previous versions.

[2021-09-01 17:12] freddy38510 commented on #36
Did you use the latest 3.x version with Quasar v2 supports ?

It's a great improvement on mobile, i'm glad this is useful for you. It could have a negative impact on performance if you have a lot of css inlined in the html document making it too big to download and parse for the browser. Maybe i should add a threshold option to not inline critical css above a certain size in bytes.

I'm thinking o

[2021-09-01 20:26] renovate[bot] opened #44 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] chore(deps): update dependency eslint-plugin-vue to v7.17.0 (master)
 - [ ] fix(deps): update dependency workbox-build to v6 (master)
 -

[2021-09-02 08:24] lostnet commented on #36
Yes, I'd already tested quasar v2 in spa mode so the main things to migrate were for ssr mode and use of Meta. Everything for this extension was seamless.

We migrated an older site so we started with a lot of legacy CSS, but we replaced pretty much all of it with close to default quasar components. For that kind of migration being able to refer to separate stylesheets in a way that wouldn't be in

[2021-10-06 22:36] ldiebold opened #60 "Getting in contact"
Hi Freddy!
Was wondering if there's a way I can get in contact with you?

We're going to mention `quasar-app-extension-ssg` in the upcoming "State of Vue" conference and was wondering if there's anything you want me to mention?

Sorry to do this in an issue... Did know any other way!

Feel free to email me, or just post a reply here!

luke@quasarcast.com

[2021-10-13 11:52] gfordinal opened #70 "SyntaxError in combination with Quasar Meta Plugin"
When using [MetaPlugin](https://quasar.dev/quasar-plugins/meta), missing closing tag of <script> causes error.
This error doesn't not appear in spa mode.

To reproduce the error simply setup a new quasar project

`quasar create`

then add

`framework: { plugins: [ 'Meta' ] }` to quasar.conf.js and
`import { createMetaMixin } from 'quasar'` to Index.vue

and run

`quasar ssg generate && quasar ssg

[2021-10-18 15:05] #70 closed, assigned to nobody

[2021-10-19 20:49] renovate[bot] opened #79 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: Cannot find preset's package (github>whitesource/merge-confidence:beta)

[2021-10-24 18:53] kostia7alania opened #85 "require() of ES modules is not supported (Quasar v2)"
================== GENERATE ==================

 App • Cleaned build artifact: "C:\apps\vue\h5-off-site\dist\ssg"
 Extension(ssg) • Copying assets...
 Extension(ssg) •  WAIT  • Generating pages in progress...
[Vue Router warn]: uncaught error during route navigation:
[  Error: C:\apps\vue\h5-off-site\node_modules\swiper\vue\swiper-vue.js
  require() of ES modules is not supported.
  require() of C

[2021-10-25 11:50] yeus opened #86 "[Question] Is it possible to build SPA with only specified routes as static webpages?"
is it possible to tell the plugin to only generate static code for one specific route or component?

I have a product webpage which updates its product-data only on rare occasions and I would like to generate a static side by pulling the product information from a database and then pre-rendering it duing build stage. but I would only like to render the specific product webpages (only 3) into stati

[2021-10-26 09:03] #85 closed, assigned to nobody

[2021-10-27 18:59] #86 closed, assigned to nobody

[2021-10-28 11:18] yeus opened #88 "[Question] Vue router links prevent lazy hydration? How to circumvent this?"
sooo..   after the suggestion from here https://github.com/freddy38510/quasar-app-extension-ssg/issues/86 to use lazy hydration (thank you @freddy38510 for the suggestion). I found this post here:

https://blog.logrocket.com/vue-3-lazy-hydration-from-scratch/

I am using a `<LazyHydrate ssrOnly>{{productlist}}</LazyHydrate>` wrapper for my component to prevent it from being rerendered through clie

[2021-11-02 07:16] #88 closed

[2021-11-02 07:30] freddy38510 commented on #86
@lostnet,

I didn't found a better way than compiling the router with webpack https://github.com/freddy38510/quasar-app-extension-ssg/commit/d0d94e12079cf1753ca61b2d666edbc2852563a7. The trick here is to replace any imported Vue component by a [fake component](https://github.com/freddy38510/quasar-app-extension-ssg/blob/master/src/webpack/fake-vue-component.js) to avoid having a big compiled file

[2021-11-02 20:38] lostnet commented on #86
@freddy38510 I tried it out on my test project and it works well! On my real project I am actually setting the paths in the data of the vue components, i.e. `[Component].data().path` so it notices very quickly that it is fake. I think my method is not the normal way to do it, but I could not find any examples that were DRY where every page needed to know their own route.

[2021-11-03 13:17] freddy38510 commented on #86
I'm a little bit confused. Don't you set your app routes from [the `src/router/routes.js` file](https://quasar.dev/quasar-cli/routing) ?

Why your pages need to know their own route ?

[2021-11-03 16:23] lostnet commented on #86
@freddy38510  I'd originally encapsulated everything to go along with the data for the Meta plugin within a page back on saber (which had no explicit router config?)  I think I had some concerns with how large the router config itself was when I migrated to the early quasar-ssg, but it looks like I am now passing Meta's data in the confusingly similar `$route.meta` in to get it to the parent/Layou

[2021-11-10 17:40] gfordinal commented on #70
@freddy38510 Kudos! Works like a charm!!

[2021-11-24 05:26] joshuavachon25 opened #105 "Could not pre-render route; Must use import to load ES Module"
Hi,
I got one error when trying to generate my site:
[code]
It's a file from ThreeJS working well in SPA, but I don't know what is going on when trying SSG. I don't use require()

Thanks in advance for you help!

[2021-11-24 11:29] freddy38510 commented on #105
Hi,

You might run this library only at client side. SSG pre-render your pages at server side.

Quoted from the [three.js installation documentation](https://threejs.org/docs/#manual/en/introduction/Installation) :

Try to use a [boot file](https://quasar.dev/quasar-cli/developing-ssr/writing-universal-code#boot-files) and/or use `process.env.CLIENT` || `process.env.SERVER` in your Vue components.

[2021-11-26 19:46] joshuavachon25 commented on #105
Thanks for your answer!
I'm new to Quasar, so, how would write this boot file? (The file is created, but do I create a new OrbitControls in that file or can I do it in my page?)

[2021-12-01 13:23] franco-onevillas opened #108 "Is it neccesary to use preFetch?"
Hi Freddy,

Thank you for this extension, i am trying to implement it but I was wondering if its necessary to use `preFetch` to be able to generate the pages with all the dynamic data. If I don't and make an api call in `setup()` the source code is empty.

Regards,
Franco.

[2021-12-02 13:36] freddy38510 commented on #108
Hi Franco,

It is not necessary to use `preFetch` but this is a reliable way to handle async data with SSG.

In which lifecycle hook do you make the api call ?
`beforeMount` and `mounted` hooks are only executed at client-side so you could try to make your api call in `created` hook instead.

Another way I can think of is to fetch and save your data in json files before building your application.

[2021-12-02 13:55] franco-onevillas commented on #108
Hi Freddy, thank you for the answer.

I tried on `beforeCreate` and `created` – `setup()` on composition API – because, as you said, these are the only hooks available on SSR but when I inspect the source code its empty.

Sounds good, I will give it a try and see how it works with the vuex store :)

Thank you again, regards

[2021-12-02 13:55] #108 closed

[2021-12-02 21:27] freddy38510 commented on #108
You're welcome @franco-onevillas.

If you don't want to use Vuex you can take a look at this repository https://github.com/dongnaebi/vue3-SSR-starter and try to get inspiration from the `syncState` object.

[2021-12-02 22:22] franco-onevillas commented on #108
@freddy38510 Wow, that's awesome, I will also give it a try.

Thanks again and I hope that this extension gets to the Quasar docs :)

[2021-12-08 11:22] franco-onevillas commented on #108
Hi again @freddy38510,

I ask you here to not open a new issue. Everything is working as expected except from that when I load (from scratch) any page, for example:
- /a
- /b
It redirects to:
- /a/
- /b/

I realised because of the url and the lighthouse report. Is there any configuration for this? I was looking at the docs and I didn't see anything,

Thank you

[2021-12-08 12:45] freddy38510 commented on #105
This is beyond the scope of the extension. It depends on three.js that I didn't know about until now.

An simple way to do this that I can think of is to create a Vue component that handles your use of three.js then wrap it in a [Quasar `<no-ssr>` component](https://quasar.dev/vue-components/no-ssr). This way the component will only run on the client side.

[2021-12-08 12:45] #105 closed

[2021-12-08 13:21] franco-onevillas commented on #108
Yes, sure:

[code]

[code]

[2021-12-10 13:05] freddy38510 commented on #108
Your Vue Router configuration seems fine.

I'm pretty sure your issue is with the server you are using. I just tried with the server from the "quasar ssg serve" command and there is no redirect with a trailing slash added to the url.

Can you provide more details about that ?

[2021-12-10 15:08] freddy38510 commented on #108
The redirection is coming from the [express.js server provided](https://github.com/freddy38510/quasar-app-extension-ssg/blob/master/src/bin/server.jsl) by the command `quasar ssg serve` which I assume you are using.

This is the expected behavior to have consistent Urls especially for SEO.

If you really want to have no redirection with trailing slash, you can use your own server with the appropri

[2021-12-13 19:38] franco-onevillas commented on #108
That's nice, I didn't know that so thanks again.

And if I want to keep that behavior, should I add the `"/"` on Vue Router configuration? Because I don't want the lighthouse report messing the performance.

[2021-12-13 21:37] freddy38510 commented on #108
You can keep your Vue Router configuration as is and adapt your server to redirect url with trailing slash to url without trailing slash.
Or you can do the opposite by adding trailing slash in your Vue Router configuration.

The important thing is to be consistent to optimize SEO by avoiding duplicate content available at two different urls, one with trailing slash, and the other without.

About V

[2021-12-14 08:04] franco-onevillas commented on #108
Great, i was looking at the same thing :)

btw, do you need more hands on the extension development?

Let me know!

[2021-12-15 09:55] freddy38510 commented on #108
Sure,

All PR are welcome.

One feature that I think is missing a lot from this extension is a dev mode as mentioned in [this issue](https://github.com/freddy38510/quasar-app-extension-ssg/issues/2).

[2021-12-18 08:50] barnabastoth opened #109 "Build succeedes but process hangs forever, making it impossible to deploy with netlify"
Dear Freddy/Quasar team

First of all thank you for your amazing work, this plugin is a life saver. There is only 1 issue which prevents me from using it in production.

When I start a build process (quasar ssg generate) it builds perfectly fine, but the process seem to hang forever, which makes it so that Netlify can not move into the 2nd phase of deploying the generated files to their CDN. Is th

[2021-12-18 16:32] freddy38510 commented on #109
Hi @barnabastoth I really appreciate that you find this extension useful.

I tried to replicate the issue on linux with a clean install and latest versions of quasar packages, but without success.

- Are you using any hooks `beforeBuild, afterBuild, onRouteRendered, afterGenerate` from `quasar.conf.js` file ?

- Are you [tweaking the webpack config](https://quasar.dev/quasar-cli/handling-webpack#u

[2021-12-19 10:43] barnabastoth commented on #109
Hey Freddy

Thanks for the quick response.

- I am using the beforeBuild hook to gather the dynamic ids, which seems to run fine, and all the pages get generated.
- I am not tweaking the extendWebpack or chainWebpack
- No, i am not using any other quasar extension
- I am using the command: quasar ssg generate -d

If I add process.exit(0) to the afterGenerate hook, everything is working and I am ab

[2021-12-19 16:21] dfk7677 opened #110 "Error when using Quasar Meta plugin"
Hi there and thanks for your great work!

When using the Meta plugin of Quasar and your extension to statically generate the routes, I get an error in the browser, only for the routes that I have excluded from statically rendering.

The error reads:
`Uncaught (in promise) TypeError: Cannot read properties of null (reading 'remove')`
and is caused by the following JS code:
`document.getElementById(

[2021-12-19 17:07] freddy38510 commented on #109
From what you said I'm suspecting the beforeBuild hook. Are you opening some connections to a database ?

I just found two Node.js functions that should be helpful for debugging: `process._getActiveHandles()` and `process._getActiveRequests()`.

You could run these functions in the `afterGenerate` hook. There are also some packages that use these functions and can give you more clues like [why-is-

[2021-12-19 19:06] barnabastoth commented on #109
I am connecting to a Meteor server with the simple-ddp package to get the IDS to generate the routes, it is a socket connection, but I do receive the data and everything correctly.  Dont quote me on this, I will verify but I believe I also tried to remove the beforeBuild hook and the issue was the same.

Tomorrow I will try those functions and get back to you, thank you

[2021-12-19 20:13] #110 closed

[2021-12-19 20:24] freddy38510 commented on #110
Hi @dfk7677 ,

Thanks for opening this issue as it might affect other parts of the running app when falling back to SPA on first load, which is your case when navigating directly to excluded routes.

Could you try the latest version I just released and tell me how it's going for you?

[2021-12-19 20:33] freddy38510 commented on #109
Might be a WebSocket connection still open.

Are you calling the [disconnect method](https://gregivy.github.io/simpleddp/simpleDDP.html#disconnect) at the end of the `beforeBuild` hook ?

Do you connect to your Meteor server at server-side when the pages are pre-rendered ?

[2021-12-20 09:00] dfk7677 commented on #110
Hi and thanks for the quick answer!
It works! But now that I see you resolve issues so quickly I have some more for you :P

Have a nice day!

[2021-12-20 12:35] dfk7677 opened #111 "Error on build when index.template.html contains an svg tag and some attributes are present"
Hi again!
I am using an inline svg in index.template.html. The svg is the following:
[code]

When I do that I get the following error on build:
[code]

I know that _height_ and _width_ attributes cause the error and also all the attributes in the g tag.
Setting _inlineCriticalCss_ to false doesn't alleviate the error.

There are other divs present in index.template.html but they cause no error.

T

[2021-12-20 13:33] freddy38510 commented on #111
Hello again !

I just found out that [`beastcss`](https://github.com/freddy38510/beastcss), which is the package used to inline critical css, can't parse your svg attributes due to minification by [`html-minifier`](https://github.com/kangax/html-minifier) which removes quotes. Without any minification, there is no error.

I'm going to push a commit that removes the minification of ` index.template

[2021-12-20 13:42] #111 closed

[2021-12-20 13:59] dfk7677 commented on #111
Hi!
Yes, you are correct, I was only setting the _inlineCriticalCss_ in _quasar.extensions.json_ file. Setting it to false in _quasar.conf.js_ removes the error.

I can also confirm that the `<div id="q-app"></div>` is clean, nothing inside.

The new commit fixed it, thanks again!

[2021-12-20 14:07] freddy38510 commented on #111
That's perfect !

Thanks again for providing well described issues.

I will probably push a commit to handle the options changes in `quasar.extensions.json` file.

[2021-12-20 14:17] freddy38510 commented on #22
I should mention this commit https://github.com/freddy38510/quasar-app-extension-ssg/commit/d0d94e12079cf1753ca61b2d666edbc2852563a7 and this https://github.com/freddy38510/quasar-app-extension-ssg/issues/86#issuecomment-952895602 for reference. This is related to how the extension parse the routes defined in the Vue-Router configuration for Vue 3.

[2021-12-23 14:17] freddy38510 commented on #109
@barnabastoth,

By the way, if the goal of your `beforeBuild` hook usage is to get a list of IDS to generate an array of dynamic routes, you don't have to since the `crawler` feature will take care of dynamic routes.

Any news about your issue ?

[2021-12-25 22:58] francoromanol commented on #108
Hey @freddy38510 , sorry I am on vacation and I just see this message.

Great, I will check it! Another amazing feature would be [Incremental statoc regeneration](https://vercel.com/docs/concepts/next.js/incremental-static-regeneration)

Let me know what do you think :), I will check the other issue.

Regards,
Franco.

[2022-01-20 15:33] #109 closed

[2022-01-24 17:10] vandelpavel opened #153 "UnhandledPromiseRejectionWarning while developing with local ssg repo"
Just created a new project and created and forked your project.
Then inside your project i'v launched:
[code]

Then in my project:
[code]

Then i get this error:
[code]

While adding the this AE using ```quasar ext add ssg``` works.

[2022-01-25 13:58] #153 closed

[2022-01-25 14:03] freddy38510 commented on #153
Hi @vandelpavel,

Thanks for creating this issue.

The update of the dependency [crc](https://github.com/alexgorbatchev/node-crc) from v4.0.0 to v4.1.0 introduced this issue by removing `crc/lib/crc32` from the exports paths. There was no breaking change mentionned by the dev.

Fortunately you found this issue before I published a new release.

[2022-01-26 17:07] vandelpavel commented on #20
I'm having the same problem.
AE version: 3.1.4

[code]

[code]

    Found that  `join(quasarConf.build.distDir, 'www')` doesn't exist in that moment.
    I can see that inside the dist folder while building the folder structure it's present but then gets deleted.

[2022-01-27 11:09] vandelpavel commented on #20
@freddy38510 I need to do more investigation on why but could it be that the `clean` function is called too early here?

https://github.com/freddy38510/quasar-app-extension-ssg/blob/master/src/generate/index.js#:~:text=%7D%3B-,banner(api%2C%20ctx%2C%20%27generate%27)%3B,%7D,-try%20%7B

[2022-01-27 13:25] freddy38510 commented on #20
I just tried setting `build.distDir` to `'test'` and it worked fine.

Could you provide the `build.distDir` and `ssg.buildDir` values that you set in your `quasar.conf.js` file ?

I guess you are mixing the two paths, they shouldn't be the same.

- `build.distDir` is the path to the distributables folder which is "cleaned" just before the extension generates the pages.
- `ssg.buildDir` is the path

[2022-01-27 15:27] vandelpavel commented on #20
Yes i was using the same path. (`dist/spa/public`)

So...
If i want to use the build path i can avoid to specify the `buildDir` inside the ssg configuration.
If i want to use a different path, i can use the `buildDir` to change it. In that case i must ensure that the 2 paths do not conflict eachother. Right @freddy38510?

[2022-01-27 17:26] freddy38510 commented on #20
That's right, the `ssg.buildDir` option [is documented in the README](https://github.com/freddy38510/quasar-app-extension-ssg#builddir). By [default](https://github.com/freddy38510/quasar-app-extension-ssg#cache) this *separate* folder is [cached](https://github.com/freddy38510/quasar-app-extension-ssg#about-cache-feature) to avoid rebuilding the whole app with webpack when nothing has changed.

T

[2022-01-27 17:43] vandelpavel commented on #20
One last question. So if i want to create different builds in different folders i need to only change `build.distDir` depending by the build context. At the other end `ssg.buildDir` is used only for build performance and not for defining the final folder of the ssg build. Is that right?

[2022-01-28 15:05] freddy38510 commented on #20
You can build your app several times with different modes and set the dist folder based on your needs.
Setting `build.distDir` to `‘your-custom-folder/{ctx.modeName}’` is one way to do that.

But you should know that `ctx.modeName` is set to `ssr` when your run the command `quasar ssg generate`.
To differentiate ssr mode from ssg, you can use [`process.env.STATIC`](https://github.com/freddy38510/q

[2022-01-28 17:29] vandelpavel opened #162 "Can't inline critical css (FOUC)"
Just created this repo where you can see that after serving the ssg build we can see a FOUC (flash of unstyled contet). You can examin better the situation by disabling js ```F12 > ctrl + shift + p > Disable javascript```
https://github.com/vandelpavel/ssg-test-critical-css

[2022-01-28 17:59] freddy38510 commented on #162
Thanks for having created a reproduction repository :)

Which content is concerned exactly ?

The only thing I can see is a FOUT (Flash of Unstyled Text).

[2022-01-28 22:11] freddy38510 commented on #162
You were right, the style of index.vue file is not inlined which causes a FOUC.

It seems that adding  the `vue-svg-inline-loader` loader to the webpack rules with the method `extendWebpack` breaks something.

The style is correctly inlined if you use `chainWebpack` instead of `extendWebpack` in your `quasar.conf.js` file.

Please try replacing the method `extendWebpack` by this one:
[code]

Let m

[2022-01-31 15:55] #162 closed

[2022-02-13 07:27] saike opened #175 "@vue/preload-webpack-plugin seems not working when generating static site"
Hello, i use `@vue/preload-webpack-plugin` inside `quasar.conf.js`

[code]

Dev server preloads fonts and styles perfectly,
<img width="693" alt="Screen Shot 2565-02-13 at 14 26 57" src="https://user-images.githubusercontent.com/1619473/153743414-6853a5bb-1cf3-413f-99d4-7c1f50504638.png">

but when i build SSG, head links not preloaded.
<img width="853" alt="Screen Shot 2565-02-13 at 14 27 27" src

[2022-02-14 14:33] vandelpavel commented on #162
Thank you!

[2022-02-15 12:18] vandelpavel commented on #28
Same project, same AE but all migrated to V2.
Still need to do that 'hack' in order to refresh the other AE dependecy.

To be clear i launch ``yarn add ../path`` then '`quasar ext invoke <name>`` and the build still use the older dependency.
If i delete node modules and re install them it works.

(Sorry if late)

[2022-02-15 21:11] freddy38510 commented on #175
Hello,

`@vue/preload-webpack-plugin` is an extension plugin for [html-webpack-plugin](https://github.com/jantimon/html-webpack-plugin) which is not involved when doing SSR. It is only for the SPA fallback file `404.html`.

There is many ways to achieve what you want in particular with [Quasar boot files](https://quasar.dev/quasar-cli/boot-files) or by using the [onRouteRendered](https://github.co

[2022-02-21 16:40] freddy38510 commented on #175
@saike,

I'm working on it trying to re-implement the [`shouldPreload`](https://github.com/vuejs/vue-ssr-docs/tree/master/docs/api#shouldpreload) and [`shouldPrefetch`](https://github.com/vuejs/vue-ssr-docs/tree/master/docs/api#shouldprefetch) methods to the [SSR renderer](https://github.com/quasarframework/quasar/blob/dev/app-deps/ssr-helpers/create-renderer.js).

This is almost done and should h

[2022-02-21 17:40] saike commented on #175
@freddy38510 great! thank you for your job. Waiting for updates

[2022-02-26 01:06] algoz098 opened #176 "generate files need javascript to render it"
Maybe this expected, but i tougth a SSG should generate the html files with the rendered html inside it so the requester would be able to see the page as intended without the need of javascript, the reason for something so complicated like this, would be bot and crawlers for seo to work as it would in SSR

Is this something in the roadmap or even available and i did not found it?
Thanks for the li

[2022-02-28 20:45] #175 closed

[2022-03-01 13:51] freddy38510 commented on #175
New options `shouldPreload` and `shouldPrefetch` [documented here](https://github.com/freddy38510/quasar-app-extension-ssg#shouldpreload) are available in the latest [v3.3.0](https://github.com/freddy38510/quasar-app-extension-ssg/tree/v3.3.0) release.

If you are concerned about performance, I can suggest you to [use svg](https://quasar.dev/vue-components/icon#svg-icons) instead of web fonts for

[2022-03-01 14:00] freddy38510 commented on #176
Hi,

The term static is confusing. It's obvious, but if you disable javascript, you can't have dynamic interactions in your pages, like opening or closing the drawer. All of Vue's features and functionality will be useless.

In our case, SSG is just the pre-rendering of pages like SSR mode but at build time.
When you first load a page, the page is already rendered thanks to SSG. Then Vue hydrates

[2022-03-01 15:03] saike commented on #175
@freddy38510 thank you for explanation. I will try new version soon

[2022-03-02 11:55] algoz098 commented on #176
I should phrase it better.
I thought it would generate the static HTML and also generate the JSONs to hydratate it after, as Vite SSG and Nuxt does, is this not expected?

If not, would this be a possible feature in the futere?

Thanks again

[2022-03-02 13:08] freddy38510 commented on #176
Are you talking about the data which you might fetch at page or component level ?

Nuxt has a mechanism to fetch the data at server-side then cache them to be used at client-side.

If this is what you are talking about, it's funny because I was actually planning to implement this feature.

[2022-03-10 15:46] IlCallo opened #188 "Schema validation error when enabling `inlineCssFromSFC`"
Hey there!
I enabled `inlineCssFromSFC` just for fun and got this error.

![image](https://user-images.githubusercontent.com/10036108/157697836-d28739b1-f557-47da-92b8-b0a5794e2828.png)

It seems that into https://github.com/freddy38510/quasar-app-extension-ssg/commit/854d84f6f2f8253a60d42bb9f33429370af998b2 one of the `plugins` assignments is placed one level too high, can't understand which one

[2022-03-10 20:01] #188 closed

[2022-03-10 20:56] freddy38510 commented on #188
Hey!

Thanks you for reporting this issue. This did not show up in my tests.

Ps: I'm actually trying to add lazy/partial hydration using the Vue 3 API. It's almost done, I just need to test it in many scenarios.

[2022-03-17 10:26] flapili opened #189 "how to pass data to routes before generate"
Hi, I would like to switch nuxt2 -> quasar2 but I need SSG, we have hundred of routes to generates and we would know how to avoid spam the api (we need only 1 call to generate every pages)

With nuxt we use [payload](https://nuxtjs.org/docs/configuration-glossary/configuration-generate/#speeding-up-dynamic-route-generation-with-payload), how could we achieve the same with quasar + your ext ?

[2022-03-26 00:28] freddy38510 commented on #189
Hi,

I plan to implement this feature, but right now I'm working on adding lazy/partial hydration to the extension. If you don't need interactions on components that hold your api's data, you might find it useful to not hydrate them on the client side.

Until then one of the solutions I can think of is to retrieve the data from the api and store it in json files before building the app with the ho

[2022-04-04 16:00] NunoSav opened #200 "Wrong quasar conf file path on latest Quasar"
This plugin targets a specific path for the quasar conf file: https://github.com/freddy38510/quasar-app-extension-ssg/blob/9fba6c918cf28a56c67cac6fce00904d88569240/src/bin/ssg-generate.js#L46

And after updating Quasar to latest and using the webpack flavour the path that would work is:
`@quasar/app-webpack/lib/quasar-conf-file`.

I guess then that the plugin needs to consider multiple options her

[2022-04-05 09:35] freddy38510 commented on #200
Hello,

I will be pushing a commit to support the latest version of Quasar during the day.

Supporting Vite will take longer, the eco-system is totally different from Webpack.

Thanks for reminding me of this Quasar breaking update :+1:

[2022-04-05 19:56] #200 closed

[2022-04-12 21:57] eyedean opened #214 "Silent fail on router.js > build in v2.3"
Greetings,

I have been using `quasar.app.extenions-ssg` for almost a year now and it's great.  Recently I ran into some weird errors on `BeastCss` and upgraded from `2.1.4` to `2.3.0`.

Now when I run it with `--forceBuild` it builds but ends right after finishing the `build` and before starting `generate`.

I started debugging (by putting `console.log` in the source code of `./node_modules/quasa

[2022-04-12 23:38] eyedean commented on #214
Finding 1: if I put a `await routerBuildPromise;` in `build/index.js` right after where it's created (i.e. [L82](https://github.com/freddy38510/quasar-app-extension-ssg/blob/2.x/src/build/index.js#L82)), it takes like 60 seconds there (one full build time for me) but then everything works.

However, when this await is at the bottom of the function, the code just dies after like 3 seconds there (se

[2022-04-13 00:28] freddy38510 commented on #214
Hello @eyedean !

Thanks for investigating and creating such a detailed issue, it helps a lot.

I rewrited a lot of code (that I will backport to v2), including this specific part which compile your app vue-router `src/router/index.js` file. The goal is effectively to get the app routes from a trusted source.

For debugging purpose could you try to replace [this portion of code](https://github.com

[2022-04-14 00:28] eyedean commented on #214
@freddy38510 Thanks for your prompt response!

Unfortunately that didn't help and yielded no output.  The same behavior is still happening -- it exits 3 seconds after finishing `build` and before doing `generate` (basically the build for router is silently dying.)

I was able to put some breakpoints both in your script and webpack (via [this answer of mine](https://stackoverflow.com/a/71864932)) t

[2022-04-14 12:21] freddy38510 commented on #214
You sum it up perfectly here. I really appreciate that you take the time to do that.

Actually the issue (on the 2.x branch) about running two instances of webpack concurrently will be solved in the next commits.

_(If you are curious, please see [this commit](https://github.com/freddy38510/quasar-app-extension-ssg/commit/101078f585316c37c69f31f8c9cb70c29dc7f3ba), and more particularly this file h

[2022-04-18 16:07] eyedean commented on #214
That was very insightful @freddy38510!  I truly appreciate the dedication and care you are putting here.  I am eagerly looking forward to the next release on 2.x! 😍

Thanks.

[2022-04-18 16:27] freddy38510 commented on #214
I just released a new version for Quasar v2.

I will be backporting all fixes and features to the v2.x branch and avoiding a breaking change by not removing the `process.env.STATIC` environment variable.

As you can see I added an option to not include static routes from the application router. But hopefully you won't get any more warnings using this feature, since the router [is no longer compile

[2022-04-22 15:15] freddy38510 commented on #214
I just published the new [v2.4.0](https://www.npmjs.com/package/quasar-app-extension-ssg/v/2.4.0), please let me know if you have any issues.

[2022-04-23 13:03] benamar opened #223 "Typescript error due to quasar last version"
Hello
I can't generate!
tsconfig.json does not exist in @quasar module
perhaps I am missing something.

Here is the log:

@Benamars-iMac app-webpack % quasar ssg generate
 App • Looking for Quasar App Extension "ssg" command "generate"
 App • Running "ssg" Quasar App Extension...
 App • Running "ssg" > "generate" command

 ================== BUILD ==================

 Build mode................ ss

[2022-04-23 14:57] #223 closed

[2022-04-23 14:59] benamar commented on #223
Sorry I found out
I didn't see my editor was running in the wrong path.
The generation worked fine.

[2022-04-23 16:32] freddy38510 commented on #223
No problem @benamar, feel free to open an issue if needed.

I'm glad the new version didn't introduce this bug after all.

I just tried running the `quasar build -m ssr` command inside a subfolder of a fresh new project, and the same error was thrown.

[2022-04-27 16:43] eyedean commented on #214
Thank you @freddy38510.  I will update the package in the next release and will let you know about the result!

[2022-05-02 06:10] danbars opened #230 "quasar-ui-qmediaplayer not building"
Not sure if this is an issue with `quasar-ui-qmediaplayer` or with this project.
I have a quasar site with `quasar-ui-qmediaplayer` package, and when I try to `build:ssg` I get the following error:

[code]

If I rename `index.cjs.js` inside `node_modules` to `index.cjs` and update its `package.json` file with `"main": "index.cjs"` the build passes. This might indicate that this is an issue with th

[2022-05-02 12:25] freddy38510 commented on #230
Hello,

I found the [same issue](https://github.com/quasarframework/quasar-ui-qmediaplayer/issues/356) which happens with ssr mode too.

I believe that the filenames are fine. It looks like the [`"type": "module"` line should be removed in the `package.json` file ](https://github.com/quasarframework/quasar-ui-qmediaplayer/blob/next/ui/package.json#L7)in order to use their component at server-side.

[2022-05-04 08:10] eyedean opened #231 "body.screen-- classes don't seem to work"
Greetings,

I am using some CSS (Stylus) rules on some of my components that depend on `body.screen--` classes. I do have Quasar's [bodyClasses](https://v1.quasar.dev/options/screen-plugin#how-to-enable-body-classes) enabled in my `quasar.conf.js`.

It works in dev (serving as SPA) mode, but when I build it for SSG, these CSS rules don't even appear in the inline CSS source.

For instance, in the

[2022-05-04 18:23] eyedean commented on #214
Update: I updated the package to `2.4.0` and now it's working like a charm!  I like the 3 progress-bars for Client/Server/Generator. So nice. :)

Thank you so much @freddy38510!

[2022-05-05 12:19] freddy38510 commented on #231
Hello,

I guess that the css rule named `screen-xs` is dropped when using the option [`inlineCriticalCss`](https://github.com/freddy38510/quasar-app-extension-ssg/tree/2.x#inlinecriticalcss).

This is because the css rule is not present in the HTML string **at server-side** when [beastcss](https://github.com/freddy38510/beastcss) is processing it.

These classes are injected dynamically into the d

[2022-05-05 12:40] freddy38510 commented on #214
It's great!

By the way, [this commit](https://github.com/freddy38510/quasar-app-extension-ssg/commit/6e1da522306b7f6696f7fce92e94af6fc90e11fa) introduced an issue with [`publicPath`](https://v1.quasar.dev/quasar-cli/quasar-conf-js#property-build) setting which is no longer properly defined. I will come with a fix later.

Also, in the master branch, I'm currently implementing a new command (which

[2022-05-05 12:40] #214 closed

[2022-05-05 12:41] #230 closed

[2022-05-11 11:08] IlCallo opened #236 "Document standard NGINX config for deployment"
Quasar docs for SPA mode provide an example of [how to configure nginx](https://quasar.dev/quasar-cli-webpack/developing-spa/deploying#general-deployment) to serve a Quasar app
SSR mode doesn't really need it, as everything is server side generated, so nginx only needs to redirect everything to Quasar SSR Node process

SSG on the other side need a slight different

[code]

[2022-05-11 13:54] freddy38510 commented on #236
I should definitely document how to setup a static server for SSG hosting. Thanks you for pointing this out to me.

After [some good reading](https://github.com/gatsbyjs/gatsby/discussions/34205) on the subject, I cannot recommend this configuration as it may hurt SEO due to duplicate content.

My advice is to stick to a consistent choice of whether or not to use a trailing slash. Then configure y

[2022-05-12 09:56] IlCallo commented on #236
Interesting, I didn't really put much thoughts on URL duplication as Vue-router goes without trailing slash by default AFAIK, so people would explicitly need to add that trailing slash to cause that problem, but I understand your point

I'll take a look to the resources you provided, which seem really interesting, and adapt our configuration accordingly, thanks

[2022-05-22 16:26] #2 closed

[2022-05-22 16:47] #231 closed

[2022-07-05 14:20] ormandotir opened #255 "Error: Cannot find module 'quasar/dist/ssr-directives/index.js'"
Error: Cannot find module 'quasar/dist/ssr-directives/index.js'

[code]

[2022-07-06 14:15] gregorred opened #256 "I get the error message "Cannot find module 'lodash.template'" when running "quasar ssg generate" on freshly scaffolded quasar project"
The error occurs on a freshly scaffolded quasar project, I didn't change anything in the freshly scaffolded project.

**Steps to reproduce:**

**1. Scaffold a new quasar project via `npm init quasar`**
=> selected options:
✔ What would you like to build? › App with Quasar CLI, let's go!
✔ Project folder: … test-ssg
✔ Pick Quasar version: › Quasar v2 (Vue 3 | latest and greatest)
✔ Pick script type

[2022-07-07 08:44] #255 closed

[2022-07-07 08:50] freddy38510 commented on #256
Hello,

Thank you for having provided the reproduction steps, I appreciate that.

This issue was caused by a recent refactoring in the @quasar/app package. This should be fixed now, a new release of the extension is coming in a few minutes.

[2022-07-13 12:37] SKFrozenCloud opened #263 "Does not support Vite"
Getting this error when adding SSG to a Quasar project that uses Vite:

`App • ⚠️  Extension(ssg): Dependency not found - @quasar/app. Please install it.`

EDIT: I think standard webpack is `@quasar/app` while Vite is `@quasar/app-vite`

[2022-07-14 10:58] freddy38510 commented on #263
Hi,

The extension does not currently support Vite. I plan to implement it very soon, but I can't say how long it will take.

Please, keep watching this issue if you want to follow the progress.

[2022-07-14 12:57] franco-onevillas commented on #33
Hi @freddy38510, how does the `process.env.STATIC` help with that?

I mean, if you exclude some routes (to work with SSG), is it going to use the SSR on the rest of the routes?

Thank you :)

[2022-07-15 13:49] freddy38510 commented on #33
Ah, that makes sense, thanks for the explanation.

For now, implementing this feature is not a priority. First, I planned to support Vite.js and lazy hydration via a [new package](https://github.com/freddy38510/vue3-lazy-hydration) I'm working on.

But I will keep your need in mind and let you know when I start making progress.

[2022-07-15 15:29] franco-onevillas commented on #33
Thank you Freddy. Wow, that would help with improving the time to Interactive, right?

Cheers

[2022-07-18 12:44] freddy38510 commented on #33
Yep that's right, in theory it should.

You can also lighten your bundle with code splitting and only load the splitted chunks when hydration occurs.

In practice, splitted chunks are async components inside the `LazyHydrationWrapper` or component wrapped with `import-wrappers` like this:
[code]

By using the library this way with the ssg extension, the js code for the `CompA` will never be loaded

[2022-07-18 12:56] freddy38510 commented on #263
Actually, the standard webpack package is `@quasar/app-webpack` since the version 3.4.0.

I fixed this in [this commit](https://github.com/freddy38510/quasar-app-extension-ssg/commit/e6669d5273529ac2afcc143273f6e9d75038fc17).

[2022-07-18 16:26] francoromanol commented on #33
That's a good one. I would love to help with these things, but I never dare to get into OSS...

[2022-07-20 14:55] kostyfisik opened #269 "Need a demo"
may be you can create (and support to the latest release of your plug-in) a public demo, it is really pleasant to see a perfect Google Lighthouse score using a very basic free hosting.... [link]( https://pagespeed.web.dev/report?url=https%3A%2F%2F62d814fcbc3d2700768fba0e--glistening-chaja-3455df.netlify.app%2F&form_factor=desktop
)
[My try](https://62d814fcbc3d2700768fba0e--glistening-chaja-3455df

[2022-07-21 09:39] freddy38510 commented on #269
Hello,

I really like the idea and appreciate your contribution.

In the documentation, I mainly focused on the technique without ever really highlighting the performance or the interest of using this extension.

Actually, I'm working on vite.js support. I've made good progress and it should be done soon. After that, I'll add a demo with `lighthouse` results to the documentation.

Thanks @kostyfis

[2022-07-22 11:46] freddy38510 commented on #269
I'm glad you found this extension useful.

About Vite.js support, the `quasar ssg generate` command is successfully implemented (locally on my computer, no pushed commits yet).

SSG + PWA is already supported, and it will for Quasar app using Vite.js too. You just need to enable it by setting `ssr.pwa` to `true` in your Quasar config file.

The tricky part now is the `quasar ssg dev` command with

[2022-08-03 15:58] #263 closed

[2022-08-03 16:16] freddy38510 commented on #263
@SKFrozenCloud,

I would be glad if you could try the [new version](https://www.npmjs.com/package/quasar-app-extension-ssg/v/4.4.0) supporting Vite.js.

Please, let me know if everything works fine.

[2022-08-03 16:18] freddy38510 commented on #269
@kostyfisik ,

I just released a [new version](https://www.npmjs.com/package/quasar-app-extension-ssg/v/4.4.0) supporting Vite.js, if you want to try it and give me some feedbacks that would be awesome.

[2022-08-04 11:45] #269 closed

[2022-08-04 12:50] kostyfisik commented on #269
@freddy38510 LG2M, thank you! I'll check if we can use it in production... it looks pretty promising to improve our web-service...

[2022-08-08 10:29] pdanpdan opened #279 "Wrong check for mobile when fixing body classes"
Here

https://github.com/freddy38510/quasar-app-extension-ssg/blob/cb42a42535ea8f0be368855e84cf99695e53fc1c/src/boot/ssg-corrections.js#L26

the check is done against `void 0` but the function returns `'ios'`, `'android'` or `''`.

You can return `'platform-ios'`, `'platform-android'` or `''` from function and skip the check, of check against `''`

[2022-08-08 16:04] freddy38510 commented on #279
Hello,

Thanks for checking out the code, I appreciate that!

Quasar performs the exact same check in the [`body.js` file](https://github.com/quasarframework/quasar/blob/dev/ui/src/body.js#L19). Also, looking at the function [`getMobilePlatform`](https://github.com/quasarframework/quasar/blob/dev/ui/src/body.js#L6,) I think it returns `'ios'`, `'android'` or `undefined`.

So in case the value is `

[2022-08-08 17:38] pdanpdan commented on #279
Of course is not a good idea - but now all non-mobile will receive a `platform-` class (function returns empty string instead of `void 0`

[2022-08-09 11:31] freddy38510 commented on #279
You were absolutely right, I misread the code thinking that the `getMobilePlatform` function came from the Platform Quasar plugin.

My bad, I was initially returning an empty string to fix linting errors :s

Thanks for opening this issue !

[2022-08-09 11:31] #279 closed

[2022-08-11 12:10] adzbuck opened #283 "Client only / SSG Dummy Data"
I have an AJAX api request that's run on a page is loaded, however I don't want it to trigger when being built. I'd like it to substitute the request for some predefined data. Is this possible?

I tried using a condition: process.env.MODE === 'ssg' however that changed the generated code so it also didn't run the AJAX.

I also had a look at the proxy, but I can't work out how to prevent the reques

[2022-08-11 12:37] freddy38510 commented on #283
The initial data must be the same between the server and the client in order to avoid [hydration mismatch](https://vuejs.org/guide/scaling-up/ssr.html#hydration-mismatch).

If you want to change these data after hydration at client-side, you can use the `onMounted` Vue hook which will be executed only at-client side.

[2022-08-11 12:49] freddy38510 commented on #283
I will try to provide you a simple example based on your needs @adzbuck

[2022-08-11 13:11] adzbuck commented on #283
It's not so much changing the data, it's more I don't want to give my build server access to the API.
So I'd want api.xxx.com/example to be replaced with ./build-data/example.js

It would be a great feature if you could display something for SSG then it gets swapped out after hydration.
e.g. a sidebar with the users profile, for SSG It would display a skeleton loader/loader of some sort.. once it'

[2022-08-11 13:17] freddy38510 commented on #283
In the example I provided the API is never accessed at server-side.

You can replace the initial data by a loading template then with `v-if="data === null"` and `v-else` you can switch to the "real content" as soon as the data are fetched at client-side from the onMounted hook.

[2022-08-11 13:52] adzbuck commented on #283
Ah ok, thenk you.. I didn't realise onMounted didn't run on SSG. I can work with that. Thank you for your support.

[2022-08-11 14:04] #283 closed

[2022-08-17 14:25] DuskXi opened #295 "Vite Failed to resolve entry for package "https""
## The package may have incorrect main/module/exports specified in its package.json: Failed to resolve entry for package "https".
When I try to execute quasar ssg generate on my quasar vite project, I encounter the following error:
[code]

I can't any useful information from google searching, so I can here to send this issue.

[2022-08-18 12:39] #295 closed

[2022-08-18 12:42] freddy38510 commented on #295
Hello @DuskXi ,

It should be fixed in the [latest release v4.5.8](https://www.npmjs.com/package/quasar-app-extension-ssg/v/4.5.8).

Could you upgrade the extension and confirm it please ?

[2022-08-20 19:11] DuskXi commented on #295
It is working now, thank you.

[2022-10-06 08:51] nicolashefti opened #309 "Automatic patch of ES Module import"
Hi,

I'm using the extension with a Quasar 2 project. I get the following error:

[code]

The error message very clear and I am able to patch manually the server-entry.js file, using `import` instead of `require`.

Manual patch is ok but it has two limitations:
- Everytime a project file changes, I need to re-patch the file
- In a CI/CD pipeline this is not pratical to patch the server-entry.js fi

[2022-10-07 11:20] freddy38510 commented on #309
Related to #85.

Swiper is an ES module only, you need to transpile it to work at server-side.

[code]

[2022-10-10 12:50] #309 closed

[2022-10-31 06:34] ukik opened #319 "Cannot read properties of undefined [pinia store]"
[code]
![image](https://user-images.githubusercontent.com/21994050/198945819-0ba489d7-74d8-422c-a433-7150bbd4ffa6.png)

[2022-10-31 08:22] ukik opened #320 "error when using meta"
something error when i use it https://quasar.dev/quasar-plugins/meta

![image](https://user-images.githubusercontent.com/21994050/198963411-9a95ca09-79ab-4931-9cbf-c6b2d0ceeed7.png)

[2022-10-31 08:25] ukik opened #321 "ssg gets fallback to SPA when router has query"
coming from this url http://localhost:9100/test?lang=en-US

![image](https://user-images.githubusercontent.com/21994050/198963834-f0898045-3263-43bc-ab0a-b5d12d5f356f.png)

[2022-11-01 16:18] #321 closed

[2022-11-01 16:39] freddy38510 commented on #319
Hello,

I tried with the [pinia store from the Quasar documentation](https://quasar.dev/quasar-cli-vite/state-management-with-pinia#adding-a-pinia-store) and I can't reproduce the issue.

Could you provide more details like some code, or even better, a reproducible repo ?

[2022-11-01 16:39] #320 closed

[2022-11-07 00:25] bloodchen commented on #19
Hi,

Now I face the same issue after using this SSG extension. The page loads with text and icon but CSSs are loaded after page loading.

Any solution?

Thanks

[2022-11-07 09:45] freddy38510 commented on #19
Hi @bloodchen,

Are you using Quasar with Vite or Webpack ?

If you could provide a reproducible repository that would be great.

[2022-11-07 09:48] bloodchen commented on #19
It's webpack. Unfortunately I cannot provide the repo since it's a private project. I am happy to debug if you can provide some direction.

Thanks

[2022-11-07 10:18] freddy38510 commented on #19
The style that loads too late, is it the style from Quasar or your own style ?
And where does it come from ? Is it a Vue SFC component ? Is it an asynchronous component ?

Which ssg extension options have you enabled ?

[2022-11-07 11:04] bloodchen commented on #19
It's all standard quasar components. For example:

<q-form
            @submit="submitSearch"
            :style="{
              marginTop: isMobile ? '32px' : '40px',
            }"

            <q-input
              outlined
              v-model="queryNid"
              hide-bottom-space
              placeholder="Domain Name"
              bg-color="white"
              input-style="font-siz

[2022-11-07 11:21] freddy38510 commented on #19
Oh okay I see. I thought all styles were affected. I assume you are using webFont icons, that's why you have FOUC on icons.

You need to switch to [svg icons](https://quasar.dev/vue-components/icon#svg-icons), this is the best option for SSG.

If you were using Quasar with Vite, you could automatically import svg icons, which is very useful. But unfortunately I haven't implemented this feature for

[2022-11-07 12:18] bloodchen commented on #19
I just made an example, actually all styles are affected.

On Mon, Nov 7, 2022 at 7:21 PM freddy38510 ***@***.***> wrote:

--

*----------------*

*Never Stop*

[2022-11-07 12:38] freddy38510 commented on #19
This is really difficult to reproduce your issue blindly.

When you say "all styles are affected" does it include the style from the `vendor.css` file too ?

- From your example, the class `tc-2` is not a Quasar one. Where does it come exactly ? From an external stylesheet ? Inside a Vue SFC component ?

- ```js
  <q-form
  :style="{
  marginTop: isMobile ? '32px' : '40px',
  }"

[code]

[2022-11-08 01:29] bloodchen commented on #19
Hi, I have managed to produce a lite version of the project. Please check out here https://github.com/bloodchen/ssgtest

After clone, you just run "yarn" "quasar ssr dev" . Then you can see the page with the problems.

Hope you can nail down the problem.

Thanks

[2022-11-08 10:23] freddy38510 commented on #19
I just took a look, there is no real FOUC. Your issues are more about content jumping due to the use of Quasar Platform API and some misused classes.

You should keep in mind that the platform is unknown at build time. That's why it's better to stick to css with breakpoints.

I will create PR on your repository to show you what issues I was talking about.

[2022-11-08 23:54] bloodchen commented on #19
Great. I have merged the PR and it works now ~~ . Thanks for the help.

[2022-11-09 03:06] bloodchen commented on #19
btw: any idea why setting header/toolbar other than default height will cause the jumping on page load? Any way to set a higher toolbar without this side effect?

[2022-11-09 11:32] freddy38510 commented on #19
This is because at client-side the height of the QHeader component is calculated then dynamically added as "padding-top" to the QPage component.

When using SSR or SSG you can hint of the height (in pixels) of the QHeader thanks to the `height-hint` prop.

[code]

[2022-11-10 05:13] bloodchen commented on #19
Thanks. It works.

*----------------*

*Never Stop*

On Wed, Nov 9, 2022 at 7:32 PM freddy38510 ***@***.***> wrote: